/* Follow up default style */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
//@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
//@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
//@media (min-width: 1200px) {  }


html, body {
  height: 100%;
}

body {
  font-family: 'open_sansregular', sans-serif;
  background-color: $background-color;
  color: $text;
  overflow-x: hidden;
}


h2, h3, h4 {
  font-family: "open_sanslight", sans-serif;
  line-height: 1.5;
}


a {
  color: $text;

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    color: $text;
  }

}

.text-bold {
  font-family: "open_sanssemibold", sans-serif;
  //color: #666666 !important;
}


textarea {
  resize: vertical;
  outline: 0;

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    outline: 0;

  }

}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.form-control:focus {
  //border-color: transparent;
  @include noshadow
}


.main-section-title {
  flex-shrink: 0;
  background-color: $dark-blue-color;
  color: #edfcff;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 0;
  /* height: 24px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  //font-family: "open_sansbold_italic", sans-serif;


  //span{
  //  color: $text;
  //  font-family: "open_sansregular", sans-serif;
  //}

}


.small-title {
  text-transform: uppercase;
  font-family: "open_sansbold", sans-serif;
  font-size: 10px;

  color: $text-secondary;
}


.demand-details-holder, .meeting-details-holder {

  .main-section-title {
    margin-bottom: 0;
  }


}


.brand-holder {


  @media (min-width: 768px) {
    border-right: 1px solid $hr;
  }

}

.navbar-header {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  padding: 0;
}


.navbar-default {
  background-color: white;
}


.shadow {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}


.fu-logo {
  display: inline-block;
  width: 205px;
  height: 45px;
  position: relative;
  margin-left: 15px !important;
  margin-right: 15px !important;
  background-image: url(./img/fao-logo-bright.svg);

  background-repeat: no-repeat;
  top: 0;
  font-size: 0;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    width: 228px;
    top: -4px;
  }

}


.display-as-text {
  @extend .small-title;

  position: relative;
  top: 14px;
}

.react-tagsinput-input {
  width: auto;
}


.usr-btn {

  display: flex;
  justify-content: flex-start;

  li {
    height: 100%;
  }

  .user-btn-photo {
    margin-left: auto;
  }


  .display-icons {


    &.active a {
      background-color: transparent !important;
      color: $primary-color !important;
    }

    a {
      padding-left: 5px;
      padding-right: 5px;
    }

    i.material-icons {
      position: relative;
      top: 12px;
    }


    &:last-child {
      margin-right: 15px;
    }


  }

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {

    display: block;


    height: 50px;
    position: relative;


    .user-btn-photo {
      margin-left: auto;
      margin-right: -15px;
    }


    li a {
      padding: 0;
      padding-right: 15px;
      padding-left: 15px;
      height: 100%;
    }


  }


}


.navbar {
  @include no-border-radius;
  position: relative;
  z-index: 1;
  margin-bottom: 0;

  @media (min-width: 768px) {
    z-index: 0;
  }

}

.navbar-collapse {
  position: absolute;
  width: 100%;
  background-color: white;

  @media (min-width: 768px) {
    position: relative;
    background-color: transparent;
  }


}


/* The FLEX thing */


#follow-up-main {
  height: 100%;
  overflow-x: hidden;
}

[data-reactroot].main-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .navbar {
    flex-shrink: 0;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    z-index: 5;
    border: 0;
  }

}


.no-gutter-left {

  background-color: $side-color;


  @media (min-width: 992px) {

    //margin-left: -15px;
  }

  @media (min-width: 1200px) {

  }


}

.home-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.home-row-main {
  display: flex;
  flex-direction: column;


  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    flex-direction: row;
    flex-grow: 1;
  }


}

.home-col-left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  // padding-top: 20px;

  @media (min-width: 992px) {
    flex-shrink: 1;
  }

}

.ReactTable .-pagination .-center {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

}

.home-col-right {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex-shrink: 0;
  margin-top: -10px;

  @media (min-width: 992px) {
    flex-shrink: 1;
  }

  .user-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;


    @media (min-width: 992px) {
      flex-shrink: 1;
    }

    .user-list-table-header {
      flex-shrink: 0;

      .table-responsive {
        overflow-x: hidden;


        .table {
          margin-bottom: 0;

        }

      }


    }

    .user-list-table-body {
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      z-index: 1;


      .table-responsive {
        //overflow-x: hidden;
      }


    }

    .user-list-title {
      flex-shrink: 0;
      margin-top: -6px;
      font-size: 16px;
      margin-bottom: 0;


    }

    .table-responsive {
      display: flex;
      flex-direction: column;
      border: 0;

      table {
        table-layout: fixed;
      }

    }


  }

  .chart {
    flex-shrink: 0;
    margin-bottom: 15px;

    margin: 0 -15px;
    padding: 15px;
    background-color: $chart-tile-background; // This three rules have to be used with the one below

    .home-small-title {
      margin-top: -6px;
      font-size: 16px
    }

  }

}

#detail-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;


  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    flex-shrink: 1;
  }

  [role="tablist"] {
    flex-shrink: 0;
    margin-bottom: 10px;
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .tab-pane.active {
      display: flex;
      flex-direction: column;
      flex-grow: 1;


      .ReactTable.-highlight {
        max-height: none;
      }

    }


  }


}


.home-row-main {

  #detail-tabs {

    .tab-pane.active {
      flex-shrink: 0;

      .ReactTable.-highlight {
        max-height: 300px;
      }

      @media (min-width: 992px) {
        flex-shrink: 1;

        .ReactTable.-highlight {
          max-height: none;

        }

      }

    }

  }

}

.form-label {
  margin-right: 10px;
}

.home-filter-container, .search-form-container {
  flex-shrink: 0;

  form {
    display: flex;
    align-items: stretch;
    margin: 10px 0 20px 0;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
    }


    .form-group {
      margin-bottom: 10px;
      margin-right: 0;

      @media (min-width: 992px) {
        margin-bottom: 0 !important;
        margin-right: 10px;
      }


    }

    .react-selectize.root-node {
      margin-bottom: 10px;
      margin-right: 0;
      width: 100%;

      @media (min-width: 992px) {
        margin-bottom: 0;
        margin-right: 10px;
      }

    }


  }

}

.home-demands-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;


}

.demandTableContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 15px;
  background-color: white;
}


.elegant-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

}

.ReactTable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;

  .rt-table {
    flex-grow: 1;

    .rt-thead {
      flex-shrink: 0;
    }

    .rt-tbody {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;


      .rt-tr-group {
        flex-shrink: 0;
        flex-grow: 0;
      }

    }

  }

  .-pagination {
    flex-shrink: 0;
  }

  .-loading {
    display: none;
  }


}


//// /* End of the FLEX thing */


// Users

.user-photo {
  //display: inline-block;
  background-size: cover;
  margin-right: 10px;
  background-position: 50% 50%;
  @include border-radius(50%);
  width: 32px;
  height: 32px;
  background-image: url(./img/users/user.svg);
  position: relative;
  top: 10px;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  img {
    width: 45px;
    height: auto;

  }


  &.small {
    position: relative;
    width: 20px;
    height: 20px;


    img {
      min-width: 30px;
      height: auto;

    }


    &:before {
      line-height: 20px;
    }

  }

  &.logged {
    width: 40px;
    height: 40px;
    top: 5px;
    margin-right: 0;

    img {
      min-width: 55px;
      height: auto;

    }

  }

}


.user-ico {
  display: inline-block;

  @include border-radius(50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;


  background-color: #a8a8a8;
  text-align: center;
  color: white;
  font-family: "open_sanslight", sans-serif;
}

.user-info-img {
  display: inline-block;
  background-size: cover;
  background-position: 50% 50%;
  @include border-radius(50%);
  margin-right: 20px;
  width: 150px;
  height: 150px;
  background-image: url(./img/users/user.svg);
  position: relative;
  top: 20px;
  overflow: hidden;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
    height: auto;
  }

}

.meeting-ico {
  background-image: url(./img/handshake.svg);
}

//
//[data-user="Triani, Mario (CIO)"], [data-user="Triani"]{
//  background-image: url(./img/users/triani.jpg);
//}
//
//[data-user="Cortesini, Ivano (CIO)"], [data-user="Cortesini"]{
//  background-image: url(./img/users/cortesini.jpg);
//}

[data-user="DG"] {

  display: inline-block;

  &:before {
    content: 'DG';
    line-height: 150px;
    font-size: 30px;
    font-family: "open_sanslight", sans-serif;
  }

  background-image: none;
  background-color: #a8a8a8;
  text-align: center;
  color: white;
}

//[data-user="Wagner, Marie (CIO)"], [data-user="Wagner"]{
//  background-image: url(./img/users/wagner.jpg);
//
//}
//
//[data-user="Abblasio, Giovanni (CIO)"], [data-user="Abblasio"]{
//  background-image: url(./img/users/abblasio.jpg);
//
//}
//
//[data-user="Salvatore, Daniele (CIO)"], [data-user="Salvatore"]{
//  background-image: url(./img/users/salvatore.jpg);
//
//}
//
//[data-user="Maskey, Samrat (CIO)"], [data-user="Maskey"]{
//  background-image: url(./img/users/maskey.jpg);
//
//}
//
//[data-user="Selleri, Nicola (CIO)"], [data-user="Selleri"]{
//  background-image: url(./img/users/selleri.jpg);
//
//}

//.category-pill{
//  display: inline;
//  padding: 5px 14px;
//  background-color: transparent;
//  border: 1px solid #ddd;
//  border-radius: 15px;
//}


.category-name {
  color: $text-secondary;
}

/* Tags input */

.react-tagsinput--focused {
  border-color: #ccc;
}

.react-tagsinput-tag {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(#ddd, 0.3);

  border-radius: 2px;
  border: 1px solid #ddd;
  color: $text;

  a.react-tagsinput-remove {
    color: $text;

    &:hover {
      text-decoration: none;
    }

  }

}


.user-info {
  margin-bottom: 30px;
}


.user-name {
  text-transform: uppercase;
  font-size: 12px
}

/* Material Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* Open Sans */

@font-face {
  font-family: 'open_sansregular';
  src: url('./fonts/open-sans/OpenSans-Regular-webfont.eot');
  src: url('./fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
  url('./fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('./fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url('./fonts/open-sans/opensans-bolditalic.woff2') format('woff2'),
  url('./fonts/open-sans/opensans-bolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sanslight';
  src: url('./fonts/open-sans/OpenSans-Light-webfont.eot');
  src: url('./fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
  url('./fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype'),
  url('./fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('./fonts/open-sans/OpenSans-Semibold-webfont.eot');
  src: url('./fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'),
  url('./fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype'),
  url('./fonts/open-sans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'open_sansbold';
  src: url('./fonts/open-sans/OpenSans-Bold-webfont.eot');
  src: url('./fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
  url('./fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('./fonts/open-sans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

.to-be-approved {
  background: #6f86d6 !important; /* Old browsers */
  margin: 0 5px;

}

.label {
  &.label-success {
    background-color: $green;
    //@include green-transition;
  }

  &.label-warning {
    background-color: $orange;
    //@include orange-transition;
  }

  &.label-danger {
    background-color: $red;
    //@include red-transition;
  }

  &.label-default {
    //@include gray-transition;
  }


  &.label-draft {
    background-color: transparent;
    border: 1px solid $text;
    color: $text;
  }


}


ul.attached-file {

  li {
    margin: 10px 0;
  }

}

