/* Follow up variables */

$text: #333;
$text-light: #666;
$text-secondary: #999;

$hr: #e7e7e7;


$primary-color: #1976d3;

$background-color: #f3f3f5;
$side-color: #f9f9f9;
$dark-blue-color: #607d8b;

$chart-tile-background: #e6e6e6;


$light-gray: #ebebeb;

/* Bootstrap Queries */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


/* Colors */

$green: #5cb85c;
$orange: #ff8e01;
$red: #d32f2e;

/* Acid */

$a-yellow: #e1e042;
$a-green: #26e19e;
$a-purple: #7422b6;
$a-dark-purple: #450a72;
$a-red: #e10f58;


@mixin user-name {
  color: $text; // It remains black also in the table view
  text-transform: uppercase;
  font-size: 12px;
}


@mixin orange-transition {

  background: rgb(255, 142, 1); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(255, 142, 1, 1) 0%, rgba(255, 189, 109, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(255, 142, 1, 1) 0%, rgba(255, 189, 109, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(255, 142, 1, 1) 0%, rgba(255, 189, 109, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8e01', endColorstr='#ffbd6d', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}


@mixin red-transition {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d32f2e+0,ed6d6d+100 */
  background: rgb(211, 47, 46); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(211, 47, 46, 1) 0%, rgba(237, 109, 109, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(211, 47, 46, 1) 0%, rgba(237, 109, 109, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(211, 47, 46, 1) 0%, rgba(237, 109, 109, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d32f2e', endColorstr='#ed6d6d', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}


@mixin green-transition {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5cb85c+0,6edd6e+100 */
  background: rgb(92, 184, 92); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(92, 184, 92, 1) 0%, rgba(110, 221, 110, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(92, 184, 92, 1) 0%, rgba(110, 221, 110, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(92, 184, 92, 1) 0%, rgba(110, 221, 110, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb85c', endColorstr='#6edd6e', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}

@mixin gray-transition {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3a3a3+0,777777+100 */
  background: rgb(163, 163, 163); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(163, 163, 163, 1) 0%, rgba(119, 119, 119, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(163, 163, 163, 1) 0%, rgba(119, 119, 119, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(163, 163, 163, 1) 0%, rgba(119, 119, 119, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3a3a3', endColorstr='#777777', GradientType=0); /* IE6-9 */


}
