/* Printable */

@media print {
  body {
    overflow: visible !important;
    height: auto;
  }


  @page {
    size: A4 portrait;
  }


  h1, h2, h3, h4, h5 {
    //page-break-before: always;
    page-break-after: avoid;
  }


  .rt-tr-group {
    page-break-inside: avoid;
  }


  // Put the label of the anchor instead of the href

  a[href]:after {
    content: none !important;
  }

  /* Hidden elements */

  .main-section-title, .home-col-right, .main-btns, .ReactTabs__TabList, .home-filter-container, .btn-export, .drawer-toggle, .-pagination, .more-dropdown, .parent-link {
    display: none !important;
  }

  /* Labels */


  //.label-danger
  //,.to-be-approved
  //,.label-success
  //,.label-warning{
  //  color: white!important;
  //  border-color:transparent!important;
  //}
  //
  //.label-danger {
  //  background-color: #d9534f !important;
  //
  //}
  //
  //.to-be-approved{
  //  background-color: #6f86d6 !important;
  //}
  //
  //.label-success {
  //  background-color: #5cb85c !important;
  //}
  //
  //.label-warning{
  //  background-color: #f0ad4e !important;
  //}
  //
  ///* End labels */
  //
  //.SOON_TO_EXPIRE{
  //  color:  #f0ad4e !important;
  //}
  //
  //.ON_TIME{
  //  color:  #5cb85c !important;
  //}
  //
  //.EXPIRED{
  //  color: #d9534f !important;
  //}


  /* Demand Page */


  .demand-info {
    padding-left: 15px;
  }


  .demand-details-holder {

    .commentText {
      max-width: 400px;
    }

    .commentList .commentText.reopen-demand .comment-header .material-icons, .commentList .commentText.created-demand .comment-header .material-icons {
      border-color: transparent;
    }

    .commentList .commentText.submitted-demand .comment-header .material-icons {
      border-color: transparent;

    }


    .material-icons {
      border-color: transparent !important;
    }

    .comment-form {
      display: none !important;
    }

    .demand-details-toolbar {
      display: none !important;
    }

  }


  /* Table card Version */

  .demandTableContainer {
    background-color: transparent;
  }

  .ReactTable {
    .label:empty {
      display: inline-block;
    }

    .label {
      width: 20px;
      height: 20px;
      //padding: 0;
      //@include border-radius(5px);
      position: relative;
      //left: 1px;
    }

  }


  .assig-col {
    order: 1;
  }

  .created-col {
    order: 1;
    padding-left: 0 !important;


    .table-stripe-user {
      display: none;
    }

  }


  .deadline-col {
    order: 2;
  }

  // Before element order 3

  .risk-col {
    order: 0;
    margin-right: 15px;
  }

  .title-col {
    order: 5;
    min-width: 100%;
  }


  // After element order 6

  .creation-col {
    order: 7;
  }


  .rel-themes-col {
    order: 8;
    align-self: flex-end;

  }

  .category-col {
    order: 9;
    align-self: flex-end;

    &:before {
      content: 'Category';
      margin-right: 10px;
      //@extend .small-title;


    }

  }


  .-pagination {
    display: none;
  }

  .creation-col {
    text-align: left;
    color: $text;
    margin-right: 30px;

    &:before {
      content: 'Creation date ';
      //@extend .small-title;
      margin-right: 10px;
    }

  }

  .deadline-col {
    text-align: left;
    color: $text;

    &:before {
      content: 'Deadline ';
      margin-right: 10px;

      // @extend .small-title;
    }
  }


  .home-demands-container {
    .elegant-card {
      background-color: transparent;
      border: 0;

      .card-content {
        background-color: transparent;
        padding: 0;
      }

    }
  }

  .user-info-main-col {
    .user-details-tab {

      .elegant-card {
        background-color: transparent;
        border: 0;

        .card-content {
          background-color: transparent;
          padding: 0;
        }

      }

    }
  }


  .ReactTable {
    border: 0;


    .material-icons {
      font-size: 18px;
      position: relative;
      top: 4px;
      margin-right: 10px;
    }

    //.label:empty{
    //  display: inline-block;
    //  width: 15px;
    //  height: 15px;
    //  @include border-radius(50%);
    //}

    .multiple-ass-user {

      .material-icons {
        top: 0;
      }

    }

    .pull-left {
      margin-right: 20px;
    }

    .rt-thead {
      display: none;
    }

    .rt-tbody {
      min-width: 0 !important;
      padding-right: 10px;


      .rt-tr-group {
        //display: block;
        position: relative;
        background-color: white;
        margin-bottom: 10px;
        @include border-radius(3px);
        border: 1px solid $hr;
        padding: 10px;
        color: $text-secondary;
        //border-top-left-radius: 25px;


        .rt-tr {
          display: flex;
          //flex-direction: column;
          flex-wrap: wrap;

          &:before {

            content: '';
            width: 100%;
            order: 3;

          }

          &:after {

            content: '';
            width: 100%;
            order: 6;

          }


        }

      }

      .rt-td {
        flex-grow: 0 !important;
        flex-shrink: 1 !important;
        width: auto !important;
        max-width: none !important;
        padding: 0;
        height: auto;
        margin-bottom: 5px;
        overflow: visible;

      }

      .category-pill {

        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
      }


      .title-col {
        //font-size: 16px;
        white-space: normal;
        color: $text;
        padding-bottom: 10px;
        border-bottom: 1px solid $hr;
        margin-bottom: 20px;
        margin-top: 15px;
        line-height: 25px;

        a {
          color: $text;
        }


      }


      .risk-col {
        //position: absolute;
        left: 9px;
        top: 40px;
      }

      .assig-col {
        position: relative;
        left: -2px;
        margin-right: 30px;
        display: flex;
        align-items: center;

        &:before {
          content: 'Responsible';
          //margin-right: 10px;
          position: relative;

          // @extend .small-title;
        }


        a {
          color: $text;
          display: inline-flex;

        }
      }

      .created-col {
        position: relative;
        left: -2px;
        margin-right: 30px;
        display: flex;
        align-items: center;

        &:before {
          content: 'Created by';
          margin-right: 10px;
          position: relative;
        }

        &:before {


        }
      }


      .rt-tr {
        display: inline-block;
      }


    }

  }

  .ReactTable .rt-tbody .rt-tr-group:last-child {
    border: 1px solid $hr;

  }

  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background-color: white;

  }


  .rt-td.meeting-country {
    margin-right: 35px;
  }


}

