/* Material Theme */
.panel.panel-default {
  background-color: white;
  transition: box-shadow .25s;
  @include border-radius(2px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  border-color: transparent;
  border: 0;

  .panel-heading {
    color: $text;
    background-color: white;
    border-color: transparent;
    border-bottom-color: $hr;
  }

  .panel-footer {
    background-color: white;
    border-color: transparent;
    border-top-color: $hr;

  }

}

/*********************
  Shadows
**********************/

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, .btn-floating, .card-panel, .card, .dropdown-content, .dropdown-menu {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*********************
  Buttons
**********************/
.btn-flat {
  background-color: transparent;
  position: relative;
  padding: 8px 30px;
  border: none;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
}

.btn-flat:focus {
  background-color: transparent;
}

.btn {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}


.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: #aa66cc;
  @include border-radius(50%);
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
  margin: 10px;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  color: white;
}

.btn-floating.btn-link i {
  color: $text;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 55.5px;
  height: 55.5px;
}

.btn-floating.btn-large i {
  line-height: 55.5px;
}

.btn-floating.btn-small {
  height: 47px;
  width: 47px;
  line-height: 0;
}

.btn-floating.btn-small .fa, .btn-floating.btn-small .material-icons {
  font-size: 18px;
  margin-top: 5px;
}

button.btn-floating {
  border: none;
}


//.fs-download-selector-panel{
//  [role="tabpanel"]{
//    border-top: 1px solid $hr;
//    border-bottom: 1px solid $hr;
//  }
//}


/* Card Special */

.elegant-card {
  background-color: white;
  position: relative;
  margin: 0 0 15px 0;
  border: 1px solid $hr;
}


.card-up {
  padding: 15px;
}

.card-up h1, .card-up h2, .card-up h3, .card-up h4, .card-up h5, .card-up h6 {
  margin: 0;

  margin-top: 5px;
}

.elegant-card .btn-floating {
  margin: -2.1em 2em;
  float: right
}

.elegant-card .btn-floating .fa {
  font-size: 14px
}

.elegant-card .card-content {
  padding: 15px;
  color: $text;
  //color: #292F33;
  //color: #666;
  background-color: #fff
}

.elegant-card .card-content h5 {
  margin-bottom: 5px;
}

.elegant-card .card-content p {

}

.elegant-card .card-footer {
  height: 50px;

}


.elegant-card .card-footer ul {
  padding-top: 15px;
  padding-bottom: 15px
}

.elegant-card .card-footer ul .fa {
  margin-right: 5px
}

.elegant-card .card-footer ul a {
  color: #fff
}

.elegant-card .card-label {
  margin-bottom: -27px;
  margin-top: 0;
  z-index: 10;
  position: relative
}

.elegant-card .card-label .label {
  border-radius: 0;
  font-weight: 300
}

.elegant-card .card-details,
.elegant-card .card-details a {
  color: $text;
  //color: #292F33;
  //color: #666
}

@media only screen and (max-width: 500px) {
  .elegant-card .card-up {
    max-height: 150px
  }
  .elegant-card .card-content {
    padding: 15px;
  }
}


