/* Follow up buttons */

button.hidden-refresh {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.btn {

  padding: 6px 10px;
  font-size: 13px;
  position: relative;


  @include border-radius(25px);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.margin-right {
    margin-right: 10px;
  }


  &.plus-btn {
    padding-right: 40px;
    margin-right: 10px;

    i {
      font-size: 21px;
      right: 4px;
      top: 4px;
      position: absolute;
      border: 1px solid white;
      @include border-radius(50%);
    }


  }


  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    outline: 0;
  }

  &:active:focus {
    outline: 0;
  }

  &.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
      border-color: $primary-color;
    }

    &:active:focus {
      background-color: $primary-color;
      border-color: $primary-color;
    }


  }

  &.btn-success {
    background-color: $green;
    border-color: $green;

    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
      border-color: $green;
    }

    &:active:focus {
      background-color: $green;
      border-color: $green;
    }


  }


  &.btn-default {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
      border-color: $primary-color;
    }

    &:active:focus {
      background-color: rgba(255, 255, 255, 0.5);
      border-color: $primary-color;
      color: $primary-color;
    }


    i {
      color: $primary-color;
      border-color: $primary-color;

      @include border-radius(50%);
    }

  }


}


.btn-group-danger {

  .btn-primary {
    background-color: $red;
    border-color: $red;

    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
      border-color: $red;
    }

    &:active:focus {
      background-color: $red;
      border-color: $red;
    }


  }

  .btn-default {
    background-color: rgba(255, 0, 0, 0.05);
    border: 1px solid $red;
    color: $red;

    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
      border-color: $red;
    }

    &:active:focus {
      background-color: rgba(255, 0, 0, 0.05);
      border-color: $red;
      color: $red;
    }


  }

}


// Dropdown

.open > .dropdown-toggle {


  &.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover, &:focus {
      background-color: $primary-color;
      border-color: $primary-color;
    }

  }

  &.btn-default {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: $primary-color;
    color: $primary-color;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.5);
      border-color: $primary-color;
      color: $primary-color;
    }

  }


}


.btn.clear-attachment {
  width: 20px;
  height: 20px;
  background-color: $text-secondary;
  border-color: transparent;
  padding: 0;
  line-height: 20px;
  text-align: center;
  margin-right: 10px;

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    background-color: $text-secondary;
    border-color: transparent;
  }

  &:active:focus {
    background-color: $text-secondary;
    border-color: transparent;
  }

  i {
    font-size: 12px;
    color: white;
  }

}

.btn.btn-export {
  position: absolute;
  top: 0;
  right: -7px;

  width: 30px;
  height: 30px;

  padding: 0;
  text-align: center;
  line-height: 2px;

  background-color: transparent;
  border-color: transparent;


  i {
    //font-size: 18px;
    color: $text-secondary;
  }

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    background-color: transparent;
    border-color: transparent;
  }

  &:active:focus {
    background-color: transparent;
    border-color: transparent;
  }


}