$grey: #d6d6db;
$blue: #1289fe;

.commentList {
  padding: 0 15px 0 0;
}

.commentList > li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  margin-top: 25px;
  // border-top: 5px solid $background-color;

}

.hide-image {
  opacity: 0;
}


.commentList .commentText {


  display: flex;
  flex-direction: column;


  position: relative;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;


  &[data-author="DG"] {

    &:after {
      border-right-color: #e4f5ff;
    }

    .comment-header {
      background-color: #e4f5ff;
    }


  }


  &.approved-demand {

    p {
      border-color: transparent;
      padding-left: 80px;
      padding-top: 0;
    }

    background-color: transparent;
    border-color: transparent;

    .comment-header {
      background-color: transparent;
      display: flex;
      align-items: center;
      padding: 0 15px;

      .material-icons {
        color: $green;
        margin-left: -1px;
        margin-right: 7px;
        font-size: 30px;
        background-color: $background-color;
        border: 5px solid $background-color;

      }

      a.name-margin {
        margin: 0 4px;
      }

    }

    &:after {
      border-right-color: white;
    }

    &:after, &:before {
      display: none;
    }

  }


  &.rejected-demand {

    p {
      border-color: transparent;
      padding-left: 80px;
      padding-top: 0;
    }


    background-color: transparent;
    border-color: transparent;

    .comment-header {
      background-color: transparent;
      display: flex;
      align-items: center;
      padding: 0 15px;

      .material-icons {
        color: $red;
        margin-left: -1px;

        margin-right: 7px;
        font-size: 30px;
        background-color: $background-color;
        border: 5px solid $background-color;

      }

      a.name-margin {
        margin: 0 4px;
      }

    }

    &:after {
      border-right-color: white;
    }

    &:after, &:before {
      display: none;
    }

  }

  &.submitted-demand {


    p {
      border-color: transparent;
      padding-left: 80px;
      padding-top: 0;
    }

    background-color: transparent;
    border-color: transparent;

    .comment-header {
      background-color: transparent;
      display: flex;
      align-items: center;
      padding: 0 15px;

      .material-icons {
        color: $text-secondary;

        margin-left: -1px;

        margin-right: 7px;
        font-size: 30px;
        background-color: $background-color;
        border: 5px solid $background-color;

      }

      a.name-margin {
        margin: 0 4px;
      }

    }

    &:after {
      border-right-color: white;
    }

    &:after, &:before {
      display: none;
    }

  }

  &.reopen-demand, &.created-demand {


    p {
      border-color: transparent;
      padding-left: 80px;
      padding-top: 0;
    }

    background-color: transparent;
    border-color: transparent;

    .comment-header {
      background-color: transparent;
      display: flex;
      align-items: center;
      padding: 0 15px;

      .material-icons {
        color: $text-secondary;

        margin-left: -1px;

        margin-right: 7px;
        font-size: 30px;
        background-color: $background-color;
        border: 5px solid $background-color;

      }

      a.name-margin {
        margin: 0 4px;
      }

    }

    &:after {
      border-right-color: white;
    }

    &:after, &:before {
      display: none;
    }

  }

  .comment-header {
    padding: 10px 15px;


    color: #586069;
    background-color: #f6f8fa;
    //border-bottom: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


    a {
      color: $text;
      text-transform: uppercase;
      font-size: 12px;
    }

  }

  &:before {
    left: -16px;
    top: 12px;
    content: '';
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border-width: 8px;
    //border-color: transparent #d1d5da transparent transparent;
    border-color: transparent;
    border-style: solid solid outset;
    border-right-color: #d1d5da;
  }


  &:after {
    left: -16px;
    top: 12px;
    content: '';
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid solid outset;
    margin-top: 1px;
    margin-left: 2px;
    border-width: 7px;
    border-right-color: #f6f8fa;
  }


  p {
    margin: 0 0 0.5em;
    padding: 0.5em 1em;
    clear: both;
    position: relative;
    border-top: 1px solid #d1d5da;


    &:empty {
      display: none;
    }


  }


}


