.comment-form {


  display: flex;
  flex-shrink: 0;
  position: relative;
  pointer-events: none;

  .form-group-holder {
    width: 80%;

    .form-group {
      position: relative;

      textarea {
        padding-right: 35px;
      }

    }

    .form-group:first-child {
      z-index: 1;
    }

  }

  .form-group {
    flex-grow: 1;
    margin-bottom: 0;
    pointer-events: auto;

    .form-control {
      width: 100%;
      margin-right: 10px;


    }

  }

  .attachments-holder {
    position: absolute;
    width: 25%;
    right: 0;
    //position: relative;
    z-index: 2;

    .attached-file {
      margin-top: 40px;
      pointer-events: none;
    }

  }

  .attachment-dropzone {
    position: absolute;
    border-color: transparent;
    width: 32px;
    right: 5px;
    padding: 0;


  }


  //button[type="submit"]{
  //  flex-grow: 1;
  //}

  .attachment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    position: absolute;

    border-color: transparent !important;
    background-color: transparent !important;
    //left: -50px;

    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
      @include noshadow;
    }


    i {
      font-size: 20px;
    }

  }

  .btn-confirm-group {
    width: 19%;
    pointer-events: auto;

    .btn-group {
      width: 100%;
      padding-left: 15px;

    }

    button[type="submit"] {
      display: inline-block;
      width: 100%;
    }

  }


  .comment-attachment {
    position: relative;
    padding: 15px 15px 4px 15px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);

    top: -15px;

    max-height: 130px;
    overflow-y: auto;

    @include border-radius(3px);


    &:empty {
      display: none;
    }

  }


}

.detailBox {

  // border: 1px solid #bbb;
  margin-bottom: 15px;
}

.titleBox {
  background-color: #fdfdfd;
  padding: 10px;
}

.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
  //width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  flex-grow: 0;
}

.actionBox .form-group * {
  //width: 100%;
}

.taskDescription {
  margin-top: 10px 0;
}

.commentList {
  padding: 0;
  list-style: none;
  overflow: auto;
  position: relative;

  .comment-header {

    .dropdown {
      height: 14px;
    }

  }

  .commentText {
    //max-width: 285px;


    p {
      //max-width: 100% !important;

    }

    ul.attached-file {

      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      //top:-5px;


      span.label {
        position: relative;
        //top: 2px;
      }

      &:before {
        content: 'Attachment';
        display: block;
        @extend .small-title;


      }

      &:empty:before {
        display: none;
      }


      .file-size {
        position: relative;
        //top:5px;
      }

    }

  }


}

.submitted-demand.commentText, .created-demand.commentText {

  ul.attached-file {
    padding-left: 80px;
  }


}

.commentList > li {
  margin: 0;
  margin-top: 20px;
  //font-size: 12px;
}


.commenterImage {
  width: 30px;
  margin-right: 15px;


  .user-photo {
    position: relative;
    top: 5px;

    &:before {
      line-height: 32px;
      font-size: 12px;
    }

  }

}


.commentText p {
  margin: 0;
}

.sub-text {
  color: #aaa;
  font-size: 11px;
}

.actionBox {
  //border-top: 1px solid #bbb;
  //padding: 10px;

  position: relative;
  //border-bottom: 10px solid #e6ebf1;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 79px;
    z-index: -1;
    display: block;
    height: 100%;
    width: 2px;
    content: "";
    background-color: #e6ebf1;
  }

}

.changes-holder {
  margin-left: 60px;
}

.changes-list {
  //margin-top: -10px;

  li {

    color: $text-secondary;
    margin-bottom: 5px;
    margin-top: 5px;


    b {
      color: $text;
      font-weight: normal;
    }

  }


}

.btn-group {

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    @include noshadow;

  }

  .btn.more-dropdown.comment-dropdown {
    position: relative;
    top: -14px;
    left: 13px;
    @include no-border;
    background-color: transparent;
    color: $text-secondary;


    &:after {
      font-size: 25px;
    }

    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
      @include noshadow;
      -webkit-box-shadow: none;
    }


  }

  .dropdown-menu {
    top: 15px;
    left: 16px;

    a {
      text-transform: none !important;
      font-size: 14px !important;
    }

  }

  &.open {


    .dropdown-toggle {
      @include noshadow;

      &:after {
        color: $primary-color !important;
      }

    }


  }

}


.message-removed {
  color: $text-secondary;
  font-style: italic;

  .material-icons {
    position: relative;
    top: 5px;
    margin-right: 3px;

  }

}

.message-edited {
  position: relative;
  font-size: 20px;
  top: 4px;
  color: $text-secondary;


}