/* Date Picker */


.date-picker-popover {

  .bg-primary, .text-primary {
    background-color: transparent;
    color: white;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 26px;
      height: 26px;
      margin: -13px 0 0 -13px;
      @include border-radius(50%);
      background-color: $primary-color;
      z-index: -1;
    }


  }

  .text-primary {

    color: $text;

    &:before {
      background-color: rgba($primary-color, 0.2);
    }


  }

}