/* Modals */


.attachment-dropzone {
  padding: 15px;
  border: 1px dashed #bbb;
  color: $text-secondary;
}

.category-group {
  display: flex;
  justify-content: space-between;

  .form-group {
    width: 47%;


  }

}

.form-group {

  .react-selectize.root-node {
    width: 100%;
  }

}

.assigned-to-row {
  display: flex;
  align-items: center;

  .form-group {
    flex-grow: 1;
  }

  .btn {
    margin-left: 15px;
    position: relative;
    top: 3px;
  }

}

.delegate-btn {
  color: $text-secondary;


}

.deadline-group {
  display: flex;
  align-items: flex-end;

  .form-group {
    margin-right: 15px;
  }


}

.period-dropdown, .month-dropdown {
  width: 120px;
  height: 34px;

  .react-selectize-control {
    padding: 1px 2px !important;

    .resizable-input {
      padding-bottom: 0 !important;

    }

  }

}

.week-dropdown {
  label {
    margin-bottom: 11px;
  }
}

.recurring-check {
  margin-bottom: 22px;
}


.month-dropdown {
  height: auto;
}

ul.frequency-weekly {
  height: 17px;

  li {
    padding: 0 3px;
  }

}