/* Notifications */


.notifications-tr {

  top: 95px !important;

  .notification.notification-info {

    background-color: white !important;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15) !important;

    border-top-color: transparent !important;

    h4 {
      color: $text !important;
    }

    .notification-message {
      color: $text;

    }


    .notification-dismiss {
      background-color: $text-secondary !important;
      color: white !important;
    }

  }

}

