/* Ordered List */


ol.ordered-list {

  list-style: none;
  padding-left: 40px;
  counter-reset: numList;


  li {
    position: relative;
    margin-bottom: 12px;


    &:before {

      counter-increment: numList;
      content: counter(numList);
      color: gold;
      font-size: 12px;

      //float: left;
      position: absolute;
      left: -30px;
      top: 0;

      //font: bold 12px sans-serif;
      text-align: center;
      line-height: 19px;

      width: 20px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.3);
      @include border-radius(50%);

    }

  }


}
