/* Radio Buttons */

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  margin: 0 7px;


  font-weight: 500;

  &:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: $hr;
    @include border-radius(100%);
    border: 0 solid $primary-color;
    position: relative;
    top: 2px;
    left: -4px;
  }
}

input[type="radio"]:checked + label {
  color: $primary-color;

  &:before {
    border-width: 5px;
  }
}

input[type="radio"] + label,
input[type="radio"]:checked + label {
  @include animate;

  &:before {
    @include animate;
  }

}

/* Checkbox Buttons */

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  margin: 0 7px;


  font-weight: 500;

  &:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: $hr;
    // @include border-radius(100%);
    border: 0 solid $primary-color;
    position: relative;
    top: 2px;
    left: -4px;
  }
}

input[type="checkbox"]:checked + label {
  color: $primary-color;

  &:before {
    border-width: 5px;
  }
}

input[type="checkbox"] + label,
input[type="checkbox"]:checked + label {
  @include animate;

  &:before {
    @include animate;
  }

}
