/* Range slider customization */

.rc-slider {
  top: -10px;

}

.rc-slider-track {
  background-color: $primary-color;
}


.rc-slider-handle {
  border-color: $primary-color;

  &:hover {
    border-color: $primary-color;
  }

}

.rc-slider-dot-active {
  border-color: $primary-color;
}