/* React Tabs */


.react-tabs {
  position: relative;
  display: flex;
  flex-direction: column;
}

[data-desktop="true"] {


  .ReactTabs.react-tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .ReactTabs__TabList {
    flex-shrink: 0;
  }

  .ReactTabs__TabPanel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;


  }


}


.ReactTabs__Tab {
  margin: 0;
  border: 0;
}


.ReactTabs__TabPanel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .ReactTabs__Tab {
    display: flex;
    padding: 0;
    flex-grow: 1;
  }
}


.ReactTabs__TabList {


  .ReactTabs__Tab {

    padding: 5px 10px;
    position: relative;
    color: $text;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;


    &:hover, &:active, &:visited, &:focus {
      background-color: transparent;
      border-color: transparent;
    }

    &:first-child {
      margin-left: -10px;
    }

    &.ReactTabs__Tab--selected {
      background-color: transparent;
      border-color: transparent;
      outline: 0;

      &:hover, &:active, &:visited, &:focus, &:active:focus {

        background-color: transparent;
        border-color: transparent;
        outline: 0;
      }

      &:before {
        @include transfor-me(scaleX(1));

      }

    }


    &:before {
      //@include animate;
      content: '';
      position: absolute;
      width: calc(100% - 20px);
      height: 2px;
      background-color: $primary-color;
      left: 10px;
      bottom: -1px;

      pointer-events: none;
      @include transfor-me(scaleX(0));
    }


  }

}


#follow-up-main .react-tabs [role=tablist] {
  border-bottom: 1px solid $hr;
  margin-bottom: 15px;
}


.react-tabs [role=tab][aria-selected=true] {
  background-color: transparent;
  border-color: transparent;
  outline: 0;
}

.react-tabs [role=tab]:focus:after {
  background-color: transparent;
}

.react-tabs [role=tab]:focus {
  @include noshadow;
}

.react-tabs [role=tab] {
  top: 0;
  border: 0;
  margin: 0;
}
