/* React table */

.ReactTable {
  font-size: 12px;

  .user-name {
    font-size: 11px;
  }

  .multiple-ass-user {
    font-size: 11px;
  }

  .material-icons.unseen {
    color: $primary-color;
  }


  .filtered-child-demand {
    color: #ddd;
    font-size: 22px;
    transform: scaleX(-1);
  }


}


.rt-thead.-header {
  position: relative;
  z-index: 2;
}

.ReactTable .-pagination {
  @include noshadow;
  border-top: 1px solid $hr;

}

.ReactTable .rt-th {
  // Stile header tabella
}

.ReactTable .rt-td {
  height: 40px;

  padding: 13px 5px;
}

.ReactTable .rt-th, .ReactTable .rt-td a {

}

.ReactTable {

  .risk-col, .info-col {
    text-align: center;
  }

}

.header-icon {
  font-size: 15px;

}

.info-col-header {
  padding-bottom: 0px !important;
}

.info-col {
  color: #c5c5c5;
}


.ReactTable .rt-tbody .rt-td {
  border-right-color: transparent;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  @extend .small-title;
  padding: 13px 5px;
}


.title-col {

  a {
    color: $text; // It remains black also in the table view
  }


}

.rel-themes-col {

  .react-tagsinput-tag {
    position: relative;
    top: -3px;
  }

}


.assig-col, .created-col {
  position: relative;
  padding-left: 15px !important;

  .table-stripe-user {
    height: 100%;
    width: 4px;
    position: absolute;
    left: 0;
    top: 0;

    &.requested-by-me {

      background-color: rgba(#333, 0.2);
    }

    &.assigned-to-me {
      background-color: rgba(#333, 0.6);
    }

    &.delegated {

      //background-color: rgba(#333, 0.1);
      //background-color: red;
      background-image: repeating-linear-gradient(180deg, #aaa, #aaa 2px, rgba(#333, 0) 2px, rgba(#333, 0) 4px);

    }


  }


  a {
    @include user-name;
    display: flex;
    align-items: center;


    .user-photo {

      &:before {
        font-size: 12px;
        font-size: 85%;
      }


    }


    &:hover, &:focus {


      .user-photo.small {


        &:before {
          display: inline-block;
          text-decoration: none;
        }

      }

    }


    .user-photo {
      flex-shrink: 0;
      top: 0;
      margin-left: 5px;
    }

    .user-name {
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }
}

.created-col {
  padding-left: 15px !important;
}

.ReactTable {
  .label:empty {
    display: inline-block;
  }

  .label {
    //width: 15px;
    //height: 15px;
    //padding: 0;
    //@include border-radius(50%);
  }
}


// Card Version

[data-style="cards"] {

  .demandTableContainer {
    background-color: transparent;
  }

  .ReactTable {
    .label:empty {
      display: inline-block;
    }

    .label {
      width: 20px;
      height: 20px;
      //padding: 0;
      //@include border-radius(5px);
      position: relative;
      //left: 1px;
    }

  }

  .multiple-ass-user {

    .material-icons {
      top: 0;
    }

  }


  .assig-col {
    order: 1;
  }

  .created-col {
    order: 1;
    padding-left: 0 !important;


    .table-stripe-user {
      display: none;
    }

  }


  .deadline-col {
    order: 2;
  }

  // Before element order 3

  .risk-col {
    order: 0;
    margin-right: 15px;
  }

  .title-col {
    order: 5;
    min-width: 100%;
  }


  // After element order 6

  .creation-col {
    order: 7;
  }


  .rel-themes-col {
    order: 8;
    align-self: flex-end;

  }

  .category-col {
    order: 9;
    align-self: flex-end;

    &:before {
      content: 'Category';
      margin-right: 10px;
      @extend .small-title;


    }

  }


  .-pagination {
    display: none;
  }

  .creation-col {
    text-align: left;
    color: $text;
    margin-right: 30px;

    &:before {
      content: 'Creation date ';
      @extend .small-title;
      margin-right: 10px;
    }

  }

  .deadline-col {
    text-align: left;
    color: $text;

    &:before {
      content: 'Deadline ';
      margin-right: 10px;

      @extend .small-title;
    }
  }


  .home-demands-container {
    .elegant-card {
      background-color: transparent;
      border: 0;

      .card-content {
        background-color: transparent;
        padding: 0;
      }

    }
  }

  .user-info-main-col {
    .user-details-tab {

      .elegant-card {
        background-color: transparent;
        border: 0;

        .card-content {
          background-color: transparent;
          padding: 0;
        }

      }

    }
  }


  .ReactTable {
    border: 0;


    .material-icons {
      font-size: 18px;
      position: relative;
      top: 4px;
      margin-right: 10px;
    }

    .multiple-ass-user {

      .material-icons {
        top: 0;
      }

    }

    //.label:empty{
    //  display: inline-block;
    //  width: 15px;
    //  height: 15px;
    //  @include border-radius(50%);
    //}

    .pull-left {
      margin-right: 20px;
    }

    .rt-thead {
      display: none;
    }

    .rt-tbody {
      min-width: 0 !important;
      padding-right: 10px;


      .rt-tr-group {
        //display: block;
        position: relative;
        background-color: white;
        margin-bottom: 10px;
        @include border-radius(3px);
        border: 1px solid $hr;
        padding: 10px;
        color: $text-secondary;
        //border-top-left-radius: 25px;


        .rt-tr {
          display: flex;
          //flex-direction: column;
          flex-wrap: wrap;

          &:before {

            content: '';
            width: 100%;
            order: 3;

          }

          &:after {

            content: '';
            width: 100%;
            order: 6;

          }


        }

      }

      .rt-td {
        flex-grow: 0 !important;
        flex-shrink: 1 !important;
        width: auto !important;
        max-width: none !important;
        padding: 0;
        height: auto;
        margin-bottom: 5px;
        overflow: visible;

      }

      .category-pill {

        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
      }


      .title-col {
        //font-size: 16px;
        white-space: normal;
        color: $text;
        padding-bottom: 10px;
        border-bottom: 1px solid $hr;
        margin-bottom: 20px;
        margin-top: 15px;
        line-height: 25px;

        a {
          color: $text;
        }


      }


      .risk-col {
        //position: absolute;
        left: 9px;
        top: 40px;
      }

      .assig-col {
        position: relative;
        left: -2px;
        margin-right: 30px;
        display: flex;
        align-items: center;

        &:before {
          content: 'Responsible';
          margin-right: 10px;
          position: relative;

          @extend .small-title;
        }


        a {
          color: $text;
          display: inline-flex;

        }
      }

      .created-col {
        position: relative;
        left: -2px;
        margin-right: 30px;
        display: flex;
        align-items: center;

        &:before {
          content: 'Created by';
          margin-right: 10px;
          position: relative;

          @extend .small-title;
        }

        &:before {


        }
      }


      .rt-tr {
        display: inline-block;
      }


    }

  }

  .ReactTable .rt-tbody .rt-tr-group:last-child {
    border: 1px solid $hr;

  }

  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background-color: white;

  }


  .rt-td.meeting-country {
    margin-right: 35px;
  }

}

.ReactTable .rt-tbody .rt-td .submitted-label {
  @include border-radius(5px);
  padding: 2px 5px;
  margin-left: 5px;
}


.rt-td:empty {
  background-color: red;
}


.title-col {

  .material-icons {
    float: left;
    margin-right: 5px;
    position: relative;
    top: -3px;
  }

}