.tabs {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;


}

.tabs-list {
  flex-shrink: 0;

  border-bottom: 1px solid $hr;
  margin-bottom: 15px;

  &:after {
    display: block;
    content: "";
    clear: both;
  }

  button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  .tab-link {
    padding: 5px 10px;
    position: relative;


    float: left;
    cursor: pointer;

    color: $text;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;

    &:first-child {
      margin-left: -10px;
    }

    &:before {
      @include animate;
      content: '';
      position: absolute;
      width: calc(100% - 20px);
      height: 2px;
      background-color: $primary-color;
      left: 10px;
      bottom: -2px;

      pointer-events: none;
      @include transfor-me(scaleX(0));
    }

    &.tab-link-active {

      font-weight: 500 !important;


      &:before {
        @include transfor-me(scaleX(1));

      }

    }

    .badge {
      position: relative;
      top: -2px;
    }


  }

}

.tab-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


//.nav-tabs {
//
//  >li {
//
//    padding: 0px 0px 0px 0px;
//
//
//    &:first-child{
//      margin-left: -10px;
//    }
//
//    >a {
//
//      padding: 5px 10px;
//      position: relative;
//      color: $text;
//      font-weight: 500;
//      font-size: 12px;
//      text-transform: uppercase;
//
//      &:hover, &:active, &:visited, &:focus,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
//        background-color: transparent;
//        border-color: transparent;
//      }
//
//      &:before {
//        @include animate;
//        content: '';
//        position: absolute;
//        width: calc(100% - 20px);
//        height: 2px;
//        background-color: $primary-color;
//        left: 10px;
//        bottom: -2px;
//        pointer-events: none;
//        @include transfor-me(scaleX(0));
//      }
//
//    }
//
//
//    &.active {
//
//      >a {
//        color: $primary-color;
//        background-color: transparent;
//        border-color: transparent;
//
//        &:hover, &:active, &:visited, &:focus{
//          color: $primary-color;
//          background-color: transparent;
//          border-color: transparent;
//        }
//
//
//        &:before{
//          @include animate;
//          @include transfor-me(scaleX(1));
//
//        }
//
//      }
//
//    }
//
//
//  }
//}
//
///*.tab-content {
//  padding-top: 10px;
//
//  > div {
//    padding: 0;
//  }
//
//
//}*/
//
//
//
//
////.li{
////  margin: 12px 0;
////
////}
//
//.badge-draft{
//  background-color: $text-secondary;
//  border: transparent;
//  color: white;
//  height: 18px;
//  line-height: 18px;
//
//  padding: 0 7px;
//  position: relative;
//  top: -2px;
//  left: 4px;
//}
