/* Homepage */


// Charts

.highcharts-text-outline {
  display: none;
}

.btn-floating {
  margin-top: -19px;

}

.highcharts-container {
  overflow: visible !important;
}

.pie-label, .label-legenda {
  font-size: 10px;
  background-color: white;
  position: relative;
  z-index: 2;

  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 20px;

  display: flex;
  align-items: center;


  span {
    padding: 2px 5px;
    font-family: "open_sanslight", sans-serif;
    font-size: 12px;
    background-color: $light-gray;
    color: $text;
  }

  b {
    padding: 2px 5px;
    color: $text-secondary;
  }

}

.highcharts-tooltip > span {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #888;
  padding: 8px;
  z-index: 3;
}

.highcharts-label.highcharts-tooltip {
  z-index: 3;
}


.legenda-holder, .legenda-holder-right {
  position: absolute;
  bottom: 15px;
  left: 15px;

  ul {
    margin-bottom: 0;
  }


  .leg {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    @include border-radius(50%);
    display: inline-block;
    position: relative;
    top: 1px;

    &.ontime {
      background-color: $green;
    }

    &.soon {
      background-color: $orange;
    }

    &.expired {
      background-color: $red;
    }

    &.submitted {
      background-color: #6f86d6;
    }


  }

}

.legenda-holder-right {


  display: inline-block;
  right: 15px;
  left: auto;

  ul {
    display: inline-block;
  }

}

.pie-label {

  .user-photo.small {
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    margin: 0;
    @include no-border-radius;
  }

}
