/* Dashboard */

.dashboard-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}

.dashboard-row-title {
  flex-shrink: 1;


}


.dashboard-title {
  font-family: "open_sanslight", sans-serif;
  font-size: 16px;
  margin-top: -6px;
}

.dashboard-row {
  flex-grow: 1;
  display: flex;


  &.bar-row {
    flex-grow: 1.2;
  }


  .dashboard-col {
    display: flex;
    flex-direction: column;
    flex-grow: 4;

    &.top:first-child {
      flex-grow: 1;
      margin-right: 15px;
    }

  }


  .elegant-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

}

.elegant-card.chart {
  height: 0;
}

.dashboard-chart-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 15px;

  span {
    text-decoration: none !important;
  }

  #chart-1, #chart-2, #chart-3 {
    display: table-cell;
    position: absolute;
    top: 30px;
    left: 0;
    height: calc(100% - 60px);
    width: calc(100% - 30px);

    margin: 15px;
  }

}


#chart-2 {
  svg:not(:root) {
    overflow: visible;
  }
}

.tag-chart-label {
  text-decoration: none !important;
  color: $text;
}

.highcharts-button-box {
  &:before {
    display: bloc;
    content: "take this bitch";
  }

}

.highcharts-drillup-button {
  tspan {
    fill: $primary-color !important;
  }
}


.pie-label.bar-drill {

  left: 80px;
  line-height: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);


  span {
    font-size: 10px;
  }

}