/* Commitment Detail */

.demand-body {
  flex-grow: 1;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    display: flex;
  }

}

//

.iterations-list {
  background-color: $hr;
  //margin: -20px 30px 0 -15px;
  padding: 20px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;

  .show-more-btn {
    height: 40px;
    flex-shrink: 0;
  }

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    margin: -20px 30px 0 -15px;
  }

  //&:after {
  //  content: '';
  //  position: absolute;
  //  bottom: 25px;
  //  width: calc(100% - 50px);
  //
  //  height: 70px;
  //
  //  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7e7e7+62,e7e7e7+100&0+62,1+100 */
  //  background: -moz-linear-gradient(top, rgba(231, 231, 231, 0) 62%, rgba(231, 231, 231, 1) 100%); /* FF3.6-15 */
  //  background: -webkit-linear-gradient(top, rgba(231, 231, 231, 0) 62%, rgba(231, 231, 231, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  //  background: linear-gradient(to bottom, rgba(231, 231, 231, 0) 62%, rgba(231, 231, 231, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e7e7e7', endColorstr='#e7e7e7', GradientType=0); /* IE6-9 */
  //
  //  pointer-events: none;
  //
  //}

  .freezer {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
  }

  h6 {
    position: relative;
    margin-top: 7px;

    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #cccccc;
      bottom: -8px;
    }
  }

  ol {
    //padding-left: 40px;
    flex-grow: 1;
    counter-reset: numList;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 15px;
    position: relative;

  }

  li {

    padding: 5px 15px 10px 35px;
    margin-bottom: 15px;
    position: relative;
    //border-bottom: 1px solid #cccccc;
    //border-bottom: 1px solid $text-secondary;

    background-color: white;
    @include border-radius(5px);

    .demand-details-deadline {
      font-size: 14px;
      //display: inline-block;
    }

    &:last-child:before {
      content: "Last";
    }

    &:before {
      counter-increment: numList;
      content: counter(numList);
      color: #cccccc;
      font-weight: 700;
      //font-size: 36px;
      position: absolute;
      left: 3px;
      top: 6px;
      //top: 7px;
      display: inline-block;
      text-align: center;
      line-height: 19px;
      width: 20px;
      height: 20px;
      background-color: white;
      @include border-radius(50%);

    }

  }

}

.more-dropdown {

  font-size: 0;
  padding: 0;
  height: 32px;
  width: 32px;
  position: relative;

  &:after {
    content: '...';
    font-size: 18px;
    position: relative;
    top: -5px;
  }

  .caret {
    display: none;
  }

}

.demand-details-deadline {
  font-size: 20px;
  //font-family: "open_sanslight", sans-serif;

  &.ON_TIME {
    color: $green;
  }

  &.SOON_TO_EXPIRE {
    color: $orange;
  }

  &.EXPIRED {
    color: $red;
  }

  &.COMPLETED {
    color: $text-light;
  }

}

.comment-button-holder {
  position: relative;
  margin-left: 15px;
}

.demand-details-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .btn[type="submit"] {
    height: 32px;
  }

  .demand-details-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .card-up {
    padding-bottom: 0;
  }

  .card-content {
    padding-top: 0;
  }

  .category-pill {

    display: inline-block;
  }

  //.label{
  //  margin-right: 15px;
  //}

}

.demand-details-subtitle {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  //padding-left: 95px;
}

.demand-details-second-line {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  //padding-left: 95px;
  flex-direction: column;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    flex-direction: row;
  }

  .demand-details-subtitle-item {
    display: flex;
    align-items: flex-start;
    height: auto;
    margin: 15px 0;

    margin-right: 30px;

    flex-direction: column;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      height: 32px;
      align-items: center;

      flex-direction: row;

    }

  }

}

.demand-details-subtitle-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  height: 32px;

  .small-title {
    margin-right: 10px;
  }

  a {
    display: flex;
    align-items: center;
    color: $text;

    @include user-name;

    .user-photo {
      top: 0;
      flex-shrink: 0;
    }

  }

  p {
    margin-bottom: 0;
  }

  &.right {
    margin-left: auto;
    margin-right: 0;
  }

  .multiple-ass-user {
    top: 2px !important;

    .material-icons {
      top: 0 !important;

    }

  }

}

.demand-details-toolbar {
  margin-bottom: 30px;
  //padding-left: 95px;

  .more-dropdown-delete a {
    color: $red;

    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
      color: $red;
      outline: 0;
    }

  }

}

.demand-details-title {

  h2 {
    margin-top: 0;
    border-bottom: 1px solid $hr;

    .title-text {

      display: block;
      padding-bottom: 10px;
      margin-top: 10px;
      font-size: 23px; //BDC

      .to-be-approved {
        display: inline-block;
        position: relative;
        top: -4px;
      }

      .to-be-approved {
        margin-left: 0;
      }

    }

    .title-description {

      display: block;
      padding-bottom: 10px;
      font-size: 14px;
      color: #333;

    }

  }
}

#detail-tabs.demand-details-tabs {

  .tab-content {
    margin-top: 15px;

    .tab-pane.active {
      flex-direction: row;
    }

  }

  .detailBox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .titleBox {
      flex-shrink: 0;
    }

    .actionBox {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .commentList {
        flex-grow: 1;
        overflow-y: auto;

        .more-dropdown-delete a {
          color: $red;
        }
      }

    }

  }

}

.demand-info {
  flex-shrink: 0;

  background-color: white;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 20px;

  .label {
    //@include border-radius(50%);
    margin-right: 0;

    //width: 80px;
    //height:50px;
    display: flex;
    //display: block;
    flex-shrink: 0;
    padding: 5px;
    line-height: 16px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    white-space: normal;
    font-family: "open_sanslight", sans-serif;
  }

}

.demand-details-card {
  margin-right: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  width: 40%;

  .card-up {
    flex-shrink: 0;
  }

}

//.detailBox{
//  width: 60%;
//}

.demand-details-list {
  padding-left: 100px;
  position: relative;
  margin: 6px 60px 6px 0;
  color: $text;

  .category-pill {
    color: $text-secondary;
  }

}

.demand-details-list-title {
  position: absolute;
  left: 0px;
  top: 50%;
  @include transfor-me(translateY(-50%));
  color: $text-secondary;
}

.category-pill {
  color: $text-secondary;
}

.demand-details-risk {
  width: 150px;
}

.demand-details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0;

  a {
    color: $text;
  }

  color: $text-secondary;

  .material-icons {
    font-size: 18px;
    position: relative;
    top: 4px;
    margin-right: 10px;
  }

}

.file-size {
  color: $text-secondary;
  font-size: 10px;
}

.submitted-link {

  .label {
    margin-right: 5px;
  }

  a {
    color: $text;
    margin-right: 5px;
  }

}

a.parent-link {

  text-transform: none;
  color: $text-secondary;
  position: relative;

  &.source {
    top: -1px;
  }

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: $text-secondary;
      bottom: -2px;
    }

  }

  .material-icons {
    font-size: 18px;

  }

}

#visible-assignees-dropdown.dropdown-toggle {

  i.material-icons {
    color: $text;
  }

  .caret {
    position: relative;
    top: -8px;
    color: $text;
  }

  @include no-border;

}