/* Follow up - Home */

.main-btns {
  position: relative;
}


.noTrustedContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-list, .chart {

  h3 {
    margin-top: 5px;
  }

  .table a {
    @include user-name;

  }

  .table > thead > tr > th {
    border-bottom: 0;
  }

}


.chart {
  position: relative;
  height: 290px;

  .highcharts-total {
    top: 107px !important;
    left: calc(50% - 35px) !important;
    z-index: 1;
  }

  .chart-holder {
    position: relative;
    top: -15px;

    .no-data {
      min-height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .total {


    .small-title {
      display: block;
      position: absolute;
      top: -16px;
      width: 60px;
      text-align: center;
      font-size: 8px;
    }


    font-family: "open_sanslight", sans-serif;
    font-size: 22px;
    line-height: 66px;
    width: 60px;
    height: 60px;
    background-color: $side-color;
    @include border-radius(50%);
    text-align: center;
    position: absolute;


  }


}


.home-filter-container, .search-form-container, .meeting-form-container {

  .form-group {
    flex-shrink: 0;
    flex-grow: 1;
  }


  .react-selectize.root-node .react-selectize-control .react-selectize-placeholder {
    //width: 100%;
    // text-align: center;


  }

  .react-selectize.root-node {
    position: relative;
    //width: 170px;
    width: auto;
  }


  .react-selectize.dropdown-menu.default .option-wrapper.highlight {
    background: rgba(#ddd, 0.3);
  }


  .react-selectize.default.root-node .react-selectize-control {
    //background-color: transparent;
    @include no-border-radius;
    @include no-border;
  }

  .simple-select.react-selectize.default.root-node.open .react-selectize-control {
    //background-color: transparent;
    @include no-border-radius;
  }

  .simple-select.react-selectize.default.root-node:not(.open) .react-selectize-control {
    //background-color: transparent;
    background-image: none;
  }

  .react-selectize-toggle-button-container {
    //position: relative;
    //right: 20px;
  }


  .react-selectize-reset-button-container {
    //display: none !important;

  }


}


.main-btns {
  margin-bottom: 20px;

}


.user-list {
  position: relative;


  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */


  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {

  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {

  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {

  }


  .table-responsive {
    table-layout: fixed;


    thead:first-child > tr:first-child > th:nth-child(2), thead:first-child > tr:first-child > th:last-child {
      height: auto;
      width: 52px;
    }


    tbody > tr > td:nth-child(2) {
      padding-right: 0;
      text-align: center;
      padding-left: 0;
      width: 35px;

      span {
        position: relative;
        top: 6px;
      }

    }


    tbody > tr > td:last-child {
      padding-right: 0;
      text-align: right;
      padding-left: 0;
      width: 35px;

      span {
        position: relative;
        top: 6px;
      }


    }


    .user-col-title-ontime, .user-col-title-exp {
      width: 52px;
      text-align: right;
      padding-right: 0;
    }


  }


  .badge {
    display: inline-block;
    position: relative;
    top: 9px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border-radius: 50%;
    font-family: "open_sanslight", sans-serif;
    background-color: #5cb85c;
    padding: 0;
    cursor: pointer;

    &.green {
      background-color: $green;
      @include green-transition;
    }

    &.red {
      background-color: $red;
      @include red-transition;
    }

    &.yellow {
      background-color: $orange;
      @include orange-transition;
    }

    &.default {
      background-color: #777;
    }


  }

  .open-col {

  }


  .small-title {
    border: 0;
  }


  .name-col {
    padding: 8px 8px 0 0;


    a {
      position: relative;
      white-space: nowrap;
      top: -3px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      height: 42px;
      display: inline-flex;
      align-items: center;

      .user-photo {
        top: 0;
        flex-shrink: 0;


        img {
          position: absolute;
          left: -6px;
          top: -1px;
        }

      }

      .user-name {
        flex-grow: 1;
        text-overflow: ellipsis;
        overflow: hidden;
      }

    }


  }


}

.meeting-agenda-add-holder {


  background-color: gold;
  margin-right: -15px;
  margin-left: -15px;
  padding: 15px;

  .list-of-agenda-items {

    .form-group {
      width: 100%;
      margin-bottom: 0;
      margin-right: 15px;

      label {
        display: none;
      }

    }

    li {
      display: flex;
      align-items: center;
      margin: 15px;

    }

  }

}

.btn.drawer-toggle {
  position: absolute;
  right: 0;
  top: 95px;
  z-index: 1;

  border-color: transparent;
  background-color: transparent;

  i {
    color: $text-secondary;
  }


  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    border-color: transparent;
    background-color: transparent;
    @include noshadow;


  }

  visibility: hidden;

  @media (min-width: 992px) {
    visibility: visible;
  }


}

.drawer-open {


  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {

    .home-col-left {

      width: 100%;

    }

    .home-col-right {
      position: absolute;
      left: 100%;
    }

  }


}