///* Login Page */
//
//
//.login-main-container{
//  display: flex;
//  flex-direction: column;
//  flex-grow: 1;
//
//
//  //background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
//
//  margin-right: -15px;
//  margin-left: -15px;
//  padding-left: 15px;
//  padding-right: 15px;
//
//}
//
//.login-form-container{
//  display: flex;
//  flex-direction: column;
//  flex-grow: 1;
//
//  justify-content: center;
//  align-items: center;
//}
//
//.login-form-holder{
//  margin-top: -250px;
//
//  h1{
//    font-size: 41px;
//    font-family: "open_sanslight", sans-serif;
//    margin-bottom: 20px;
//  }
//
//  h4{
//    font-size: 18px;
//    color: #555;
//    margin-bottom: 20px;
//  }
//
//  .form-group{
//    height: 45px;
//    margin-bottom: 30px;
//  }
//
//
//  .btn-confirm-group{
//
//    .btn-group{
//      width: 100%;
//    }
//
//    .btn{
//      width: 100%;
//      height: 45px;
//      @include border-radius(3px);
//
//    }
//  }
//
//}

/* Login Page */


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
//@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
//@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
//@media (min-width: 1200px) {  }


[data-section="login"] {
  .navbar.navbar-default {
    display: none;
  }


}


.extra {
  margin-top: 15px;
}

.login-main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}


.login-form-holder {
  width: 300px;
  position: relative;


  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    left: 300px;
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {


  }


  h1 {
    font-size: 41px;
    font-family: "open_sanslight", sans-serif;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }

  .form-group {

    input {

      width: 100%;
      //height: 56px;
      margin-bottom: 15px;

      background-color: rgba(#ffffff, 0.8);


      height: 45px;

    }


  }

  button {


    width: 100%;
    height: 45px;


    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
      outline: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

  }


}

.login-form-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: $red;
}

.fao-logo-login {
  height: 59px;
  width: 300px;
  background-image: url(./img/fao-logo-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  //opacity: 0;


  /* Large devices (large desktops, 1200px and up) */
  @media (min-height: 690px) {
    //opacity: 1;
  }

}


.login-main-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;

  display: flex;

  justify-content: center;
  align-items: center;


  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    overflow: hidden;
  }


  .credits {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    padding: 0 15px;


    @media (min-width: 768px) {

      right: 0;
      font-size: 14px;
      color: #555;
      margin-right: 25px;


    }


  }

  .big-logo {
    position: absolute;
    height: 1124px;
    width: 1124px;
    background-image: url(./img/big-logo.png);
    display: none;
    opacity: 0;
    left: -562px;
    z-index: -1;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      opacity: 0.15;
      display: block;

    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      opacity: 0.25;
    }

  }

}

