/* Meeting Details */

.meeting-agenda-title {
  font-family: "open_sanslight", sans-serif;
  font-size: 16px;
  padding-left: 15px;
}

.meeting-details-holder {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.meeting-details {
  position: relative;
  z-index: 2;
  margin-left: 15px;


  .demand-details-list {
    padding-left: 135px;
  }

}

.summary-item {
  margin-right: 30px;
  text-align: justify;
}

.meeting-details-col-left {
  width: 70%;
  display: flex;
  position: relative;
}

.meeting-details-col-right {
  width: 30%;

  display: flex;
  flex-direction: column;
}

.meeting-info {
  display: flex;
  position: relative;
  width: 100%;

}

.summary-title {
  top: 11px;
}

.meeting-details-risk {
  width: 180px;
  flex-shrink: 0;
}

.meeting-details-title {
  width: calc(100% - 180px);
}

.meeting-agenda {
  background-color: gold;
  //background-image:  url(./img/paper-texture.jpg);
  background-size: 80px 80px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 50%;

  .ordered-list {
    flex-grow: 1;
    overflow-y: auto;
  }

}


.meeting-demands {

  flex-grow: 1.5;
  display: flex;
  flex-direction: column;


  form {
    display: flex;
    align-items: center;

    .form-group {
      margin-right: 10px;
    }

    .text-input {
      flex-grow: 0;
    }

    .btn {
      margin-bottom: 20px;
    }

  }


}

.meeting-form-container {
  // margin-top: 20px;
  padding-top: 20px;

}


.top-row {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;

  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid #ddd;
  flex-basis: 250px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  //border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 0;

  pointer-events: none;

  .leaflet-pane.leaflet-tile-pane {
    opacity: 0.4;

  }

}

.map-marker {
  background-image: url(./img/map-marker.svg);
  background-size: contain;
  margin-top: -30px !important;
  display: none;

}