.multiple-ass-user {
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
  //display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;

  .material-icons {
    margin: 0 5px;
    float: left;
    position: relative;
    top: -2px;
  }

}

.multiple-detail-box {
  background-color: white;
}

.demand-details-title {

  .multiple-ass-user {
    position: relative;
    top: 4px;

    .material-icons {
      top: -4px;

    }

  }


}