/* Search Page */

.search-main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;


  .btn-export {
    top: -45px;
  }


}

.search-tabs-holder {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.search-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;


  .title-col {
    padding: 20px 15px;
  }

}

.search-form-container {
  display: flex;

  flex-shrink: 0;
  flex-direction: column;
  margin-bottom: 15px;


  .second-line-filters {
    display: flex;
    margin-top: 15px;

    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
    }


    .filters {
      display: flex;
      flex-grow: 1;

      flex-direction: column;
      @media (min-width: 992px) {
        flex-direction: row;
      }


      .form-group {
        min-width: 145px;
      }

    }

    .timeframe {
      display: flex;
      flex-grow: 1;
      margin-left: 20px;
      align-items: center;


    }


  }


  form {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;


    /* Small devices (tablets, 768px and up) */
    //@media (min-width: 768px) {  }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      align-items: stretch;
      flex-direction: column;

      .form-group {
        // padding-right: 30px;
        margin: 0 5px;

      }

    }

    /* Large devices (large desktops, 1200px and up) */
    //@media (min-width: 1200px) {  }


  }


  .form-group {
    padding-right: 0;
    flex-grow: 1;

    .react-selectize {
      width: 100%;


    }
  }


}

#detail-tabs .tab-content .tab-pane.active {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.data-picker-from, .data-picker-to {
  flex-basis: 80px;
}

.data-picker-from {
  margin-right: 25px !important;

  margin-bottom: 0 !important;


}

.data-picker-to {
  margin-bottom: 0 !important;

  .date-picker-popover {
    left: -100px !important;
  }

}

