/* Setting Page DGMS */

.setting-page {
  height: calc(100% - 50px);

  .user-info-main-row {
    height: 100%;
    display: block;

    .user-info-main-col {
      display: flex;
      flex-direction: column;
      height: 100%;
      //align-items:flex-start

    }

  }

}


.material-icons.back {
  position: absolute;
  left: 0;
  top: 4px;
}

.back-to-draft {
  padding-left: 23px;
  flex-shrink: 0;

}

.settings-row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;


  .setting-half-col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

}

.user-list {
  //height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;


  .ReactTable {
    margin-bottom: 15px;
    background-color: white;

    .rt-td {
      height: 60px;
      padding: 23px 5px;

      [type="button"] {
        position: relative;
        top: -10px;
      }

    }

  }

}

.trusted-filter {

  margin-bottom: 15px;

  .form-inline {
    display: flex;

    .form-group:first-child {
      flex-grow: 1;
    }

    .form-group.pull-right {
      margin-left: 15px;
    }


  }


}