/* User page */


.user-info-main-row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .user-info-img {

    //&:before{
    //  line-height: 80px;
    //  font-size: 30px;
    //}


  }

}

.user-info-text {

  margin-bottom: 20px;


}

.user-info-text-item {

  margin-bottom: 5px;

  .small-title {
    margin-right: 10px;
  }

}

.user-info-main-col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.user-info {
  flex-shrink: 0;
  display: flex;
}

.user-details-tab {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.user-details-tab .tab-content .tab-pane.active {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .card-up {
    flex-shrink: 0;
  }

  .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .elegant-card {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .card-content {
        flex-grow: 1;
      }

    }

  }
}