@charset "UTF-8";
/* Main*/
/* Follow up variables */
/* Bootstrap Queries */
/* Colors */
/* Acid */
/* Follow up default style */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
html, body {
  height: 100%;
}

body {
  font-family: "open_sansregular", sans-serif;
  background-color: #f3f3f5;
  color: #333;
  overflow-x: hidden;
}

h2, h3, h4 {
  font-family: "open_sanslight", sans-serif;
  line-height: 1.5;
}

a {
  color: #333;
}
a:hover, a:active, a:focus, a:active:hover, a:active:focus {
  color: #333;
}

.text-bold {
  font-family: "open_sanssemibold", sans-serif;
}

textarea {
  resize: vertical;
  outline: 0;
}
textarea:hover, textarea:active, textarea:focus, textarea:active:hover, textarea:active:focus {
  outline: 0;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.main-section-title {
  flex-shrink: 0;
  background-color: #607d8b;
  color: #edfcff;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 0;
  /* height: 24px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
}

.small-title, [data-style=cards] .ReactTable .rt-tbody .created-col:before, [data-style=cards] .ReactTable .rt-tbody .assig-col:before, [data-style=cards] .deadline-col:before, [data-style=cards] .creation-col:before, [data-style=cards] .category-col:before, .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td, .commentList .commentText ul.attached-file:before, .display-as-text {
  text-transform: uppercase;
  font-family: "open_sansbold", sans-serif;
  font-size: 10px;
  color: #999;
}

.demand-details-holder .main-section-title, .meeting-details-holder .main-section-title {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .brand-holder {
    border-right: 1px solid #e7e7e7;
  }
}

.navbar-header {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  padding: 0;
}

.navbar-default {
  background-color: white;
}

.shadow {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.fu-logo {
  display: inline-block;
  width: 205px;
  height: 45px;
  position: relative;
  margin-left: 15px !important;
  margin-right: 15px !important;
  background-image: url(./img/fao-logo-bright.svg);
  background-repeat: no-repeat;
  top: 0;
  font-size: 0;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .fu-logo {
    width: 228px;
    top: -4px;
  }
}

.display-as-text {
  position: relative;
  top: 14px;
}

.react-tagsinput-input {
  width: auto;
}

.usr-btn {
  display: flex;
  justify-content: flex-start;
  /* Small devices (tablets, 768px and up) */
}
.usr-btn li {
  height: 100%;
}
.usr-btn .user-btn-photo {
  margin-left: auto;
}
.usr-btn .display-icons.active a {
  background-color: transparent !important;
  color: #1976d3 !important;
}
.usr-btn .display-icons a {
  padding-left: 5px;
  padding-right: 5px;
}
.usr-btn .display-icons i.material-icons {
  position: relative;
  top: 12px;
}
.usr-btn .display-icons:last-child {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .usr-btn {
    display: block;
    height: 50px;
    position: relative;
  }
  .usr-btn .user-btn-photo {
    margin-left: auto;
    margin-right: -15px;
  }
  .usr-btn li a {
    padding: 0;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
  }
}

.navbar {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar {
    z-index: 0;
  }
}

.navbar-collapse {
  position: absolute;
  width: 100%;
  background-color: white;
}
@media (min-width: 768px) {
  .navbar-collapse {
    position: relative;
    background-color: transparent;
  }
}

/* The FLEX thing */
#follow-up-main {
  height: 100%;
  overflow-x: hidden;
}

[data-reactroot].main-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
[data-reactroot].main-app-container .navbar {
  flex-shrink: 0;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  z-index: 5;
  border: 0;
}

.no-gutter-left {
  background-color: #f9f9f9;
}
.home-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home-row-main {
  display: flex;
  flex-direction: column;
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 992px) {
  .home-row-main {
    flex-direction: row;
    flex-grow: 1;
  }
}

.home-col-left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .home-col-left {
    flex-shrink: 1;
  }
}

.ReactTable .-pagination .-center {
  display: none;
}
@media (min-width: 992px) {
  .ReactTable .-pagination .-center {
    display: block;
  }
}

.home-col-right {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex-shrink: 0;
  margin-top: -10px;
}
@media (min-width: 992px) {
  .home-col-right {
    flex-shrink: 1;
  }
}
.home-col-right .user-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .home-col-right .user-list {
    flex-shrink: 1;
  }
}
.home-col-right .user-list .user-list-table-header {
  flex-shrink: 0;
}
.home-col-right .user-list .user-list-table-header .table-responsive {
  overflow-x: hidden;
}
.home-col-right .user-list .user-list-table-header .table-responsive .table {
  margin-bottom: 0;
}
.home-col-right .user-list .user-list-table-body {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}
.home-col-right .user-list .user-list-title {
  flex-shrink: 0;
  margin-top: -6px;
  font-size: 16px;
  margin-bottom: 0;
}
.home-col-right .user-list .table-responsive {
  display: flex;
  flex-direction: column;
  border: 0;
}
.home-col-right .user-list .table-responsive table {
  table-layout: fixed;
}
.home-col-right .chart {
  flex-shrink: 0;
  margin-bottom: 15px;
  margin: 0 -15px;
  padding: 15px;
  background-color: #e6e6e6;
}
.home-col-right .chart .home-small-title {
  margin-top: -6px;
  font-size: 16px;
}

#detail-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  #detail-tabs {
    flex-shrink: 1;
  }
}
#detail-tabs [role=tablist] {
  flex-shrink: 0;
  margin-bottom: 10px;
}
#detail-tabs .tab-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#detail-tabs .tab-content .tab-pane.active {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#detail-tabs .tab-content .tab-pane.active .ReactTable.-highlight {
  max-height: none;
}

.home-row-main #detail-tabs .tab-pane.active {
  flex-shrink: 0;
}
.home-row-main #detail-tabs .tab-pane.active .ReactTable.-highlight {
  max-height: 300px;
}
@media (min-width: 992px) {
  .home-row-main #detail-tabs .tab-pane.active {
    flex-shrink: 1;
  }
  .home-row-main #detail-tabs .tab-pane.active .ReactTable.-highlight {
    max-height: none;
  }
}

.form-label {
  margin-right: 10px;
}

.home-filter-container, .search-form-container {
  flex-shrink: 0;
}
.home-filter-container form, .search-form-container form {
  display: flex;
  align-items: stretch;
  margin: 10px 0 20px 0;
  flex-direction: column;
}
@media (min-width: 992px) {
  .home-filter-container form, .search-form-container form {
    flex-direction: row;
    align-items: center;
  }
}
.home-filter-container form .form-group, .search-form-container form .form-group {
  margin-bottom: 10px;
  margin-right: 0;
}
@media (min-width: 992px) {
  .home-filter-container form .form-group, .search-form-container form .form-group {
    margin-bottom: 0 !important;
    margin-right: 10px;
  }
}
.home-filter-container form .react-selectize.root-node, .search-form-container form .react-selectize.root-node {
  margin-bottom: 10px;
  margin-right: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .home-filter-container form .react-selectize.root-node, .search-form-container form .react-selectize.root-node {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.home-demands-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.demandTableContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 15px;
  background-color: white;
}

.elegant-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.elegant-card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ReactTable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
.ReactTable .rt-table {
  flex-grow: 1;
}
.ReactTable .rt-table .rt-thead {
  flex-shrink: 0;
}
.ReactTable .rt-table .rt-tbody {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.ReactTable .rt-table .rt-tbody .rt-tr-group {
  flex-shrink: 0;
  flex-grow: 0;
}
.ReactTable .-pagination {
  flex-shrink: 0;
}
.ReactTable .-loading {
  display: none;
}

.user-photo {
  background-size: cover;
  margin-right: 10px;
  background-position: 50% 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-image: url(./img/users/user.svg);
  position: relative;
  top: 10px;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.user-photo img {
  width: 45px;
  height: auto;
}
.user-photo.small {
  position: relative;
  width: 20px;
  height: 20px;
}
.user-photo.small img {
  min-width: 30px;
  height: auto;
}
.user-photo.small:before {
  line-height: 20px;
}
.user-photo.logged {
  width: 40px;
  height: 40px;
  top: 5px;
  margin-right: 0;
}
.user-photo.logged img {
  min-width: 55px;
  height: auto;
}

.user-ico {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  background-color: #a8a8a8;
  text-align: center;
  color: white;
  font-family: "open_sanslight", sans-serif;
}

.user-info-img {
  display: inline-block;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 20px;
  width: 150px;
  height: 150px;
  background-image: url(./img/users/user.svg);
  position: relative;
  top: 20px;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.user-info-img img {
  width: 200px;
  height: auto;
}

.meeting-ico {
  background-image: url(./img/handshake.svg);
}

[data-user=DG] {
  display: inline-block;
  background-image: none;
  background-color: #a8a8a8;
  text-align: center;
  color: white;
}
[data-user=DG]:before {
  content: "DG";
  line-height: 150px;
  font-size: 30px;
  font-family: "open_sanslight", sans-serif;
}

.category-name {
  color: #999;
}

/* Tags input */
.react-tagsinput--focused {
  border-color: #ccc;
}

.react-tagsinput-tag {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(221, 221, 221, 0.3);
  border-radius: 2px;
  border: 1px solid #ddd;
  color: #333;
}
.react-tagsinput-tag a.react-tagsinput-remove {
  color: #333;
}
.react-tagsinput-tag a.react-tagsinput-remove:hover {
  text-decoration: none;
}

.user-info {
  margin-bottom: 30px;
}

.user-name {
  text-transform: uppercase;
  font-size: 12px;
}

/* Material Icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format("woff"), url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Open Sans */
@font-face {
  font-family: "open_sansregular";
  src: url("./fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("./fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("./fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("./fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansbold_italic";
  src: url("./fonts/open-sans/opensans-bolditalic.woff2") format("woff2"), url("./fonts/open-sans/opensans-bolditalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("./fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("./fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("./fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("./fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanssemibold";
  src: url("./fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("./fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("./fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("./fonts/open-sans/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansbold";
  src: url("./fonts/open-sans/OpenSans-Bold-webfont.eot");
  src: url("./fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/open-sans/OpenSans-Bold-webfont.woff") format("woff"), url("./fonts/open-sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("./fonts/open-sans/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.to-be-approved {
  background: #6f86d6 !important;
  /* Old browsers */
  margin: 0 5px;
}

.label.label-success {
  background-color: #5cb85c;
}
.label.label-warning {
  background-color: #ff8e01;
}
.label.label-danger {
  background-color: #d32f2e;
}
.label.label-draft {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
}

ul.attached-file li {
  margin: 10px 0;
}

/* Components */
/* Follow up buttons */
button.hidden-refresh {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.btn {
  padding: 6px 10px;
  font-size: 13px;
  position: relative;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.btn.margin-right {
  margin-right: 10px;
}
.btn.plus-btn {
  padding-right: 40px;
  margin-right: 10px;
}
.btn.plus-btn i {
  font-size: 21px;
  right: 4px;
  top: 4px;
  position: absolute;
  border: 1px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.btn:hover, .btn:active, .btn:focus, .btn:active:hover, .btn:active:focus {
  outline: 0;
}
.btn:active:focus {
  outline: 0;
}
.btn.btn-primary {
  background-color: #1976d3;
  border-color: #1976d3;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:active:hover, .btn.btn-primary:active:focus {
  border-color: #1976d3;
}
.btn.btn-primary:active:focus {
  background-color: #1976d3;
  border-color: #1976d3;
}
.btn.btn-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success:focus, .btn.btn-success:active:hover, .btn.btn-success:active:focus {
  border-color: #5cb85c;
}
.btn.btn-success:active:focus {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn.btn-default {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #1976d3;
  color: #1976d3;
}
.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:active:hover, .btn.btn-default:active:focus {
  border-color: #1976d3;
}
.btn.btn-default:active:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #1976d3;
  color: #1976d3;
}
.btn.btn-default i {
  color: #1976d3;
  border-color: #1976d3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.btn-group-danger .btn-primary {
  background-color: #d32f2e;
  border-color: #d32f2e;
}
.btn-group-danger .btn-primary:hover, .btn-group-danger .btn-primary:active, .btn-group-danger .btn-primary:focus, .btn-group-danger .btn-primary:active:hover, .btn-group-danger .btn-primary:active:focus {
  border-color: #d32f2e;
}
.btn-group-danger .btn-primary:active:focus {
  background-color: #d32f2e;
  border-color: #d32f2e;
}
.btn-group-danger .btn-default {
  background-color: rgba(255, 0, 0, 0.05);
  border: 1px solid #d32f2e;
  color: #d32f2e;
}
.btn-group-danger .btn-default:hover, .btn-group-danger .btn-default:active, .btn-group-danger .btn-default:focus, .btn-group-danger .btn-default:active:hover, .btn-group-danger .btn-default:active:focus {
  border-color: #d32f2e;
}
.btn-group-danger .btn-default:active:focus {
  background-color: rgba(255, 0, 0, 0.05);
  border-color: #d32f2e;
  color: #d32f2e;
}

.open > .dropdown-toggle.btn-primary {
  background-color: #1976d3;
  border-color: #1976d3;
}
.open > .dropdown-toggle.btn-primary:hover, .open > .dropdown-toggle.btn-primary:focus {
  background-color: #1976d3;
  border-color: #1976d3;
}
.open > .dropdown-toggle.btn-default {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #1976d3;
  color: #1976d3;
}
.open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #1976d3;
  color: #1976d3;
}

.btn.clear-attachment {
  width: 20px;
  height: 20px;
  background-color: #999;
  border-color: transparent;
  padding: 0;
  line-height: 20px;
  text-align: center;
  margin-right: 10px;
}
.btn.clear-attachment:hover, .btn.clear-attachment:active, .btn.clear-attachment:focus, .btn.clear-attachment:active:hover, .btn.clear-attachment:active:focus {
  background-color: #999;
  border-color: transparent;
}
.btn.clear-attachment:active:focus {
  background-color: #999;
  border-color: transparent;
}
.btn.clear-attachment i {
  font-size: 12px;
  color: white;
}

.btn.btn-export {
  position: absolute;
  top: 0;
  right: -7px;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  line-height: 2px;
  background-color: transparent;
  border-color: transparent;
}
.btn.btn-export i {
  color: #999;
}
.btn.btn-export:hover, .btn.btn-export:active, .btn.btn-export:focus, .btn.btn-export:active:hover, .btn.btn-export:active:focus {
  background-color: transparent;
  border-color: transparent;
}
.btn.btn-export:active:focus {
  background-color: transparent;
  border-color: transparent;
}

.commentList {
  padding: 0 15px 0 0;
}

.commentList > li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  margin-top: 25px;
}

.hide-image {
  opacity: 0;
}

.commentList .commentText {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}
.commentList .commentText[data-author=DG]:after {
  border-right-color: #e4f5ff;
}
.commentList .commentText[data-author=DG] .comment-header {
  background-color: #e4f5ff;
}
.commentList .commentText.approved-demand {
  background-color: transparent;
  border-color: transparent;
}
.commentList .commentText.approved-demand p {
  border-color: transparent;
  padding-left: 80px;
  padding-top: 0;
}
.commentList .commentText.approved-demand .comment-header {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.commentList .commentText.approved-demand .comment-header .material-icons {
  color: #5cb85c;
  margin-left: -1px;
  margin-right: 7px;
  font-size: 30px;
  background-color: #f3f3f5;
  border: 5px solid #f3f3f5;
}
.commentList .commentText.approved-demand .comment-header a.name-margin {
  margin: 0 4px;
}
.commentList .commentText.approved-demand:after {
  border-right-color: white;
}
.commentList .commentText.approved-demand:after, .commentList .commentText.approved-demand:before {
  display: none;
}
.commentList .commentText.rejected-demand {
  background-color: transparent;
  border-color: transparent;
}
.commentList .commentText.rejected-demand p {
  border-color: transparent;
  padding-left: 80px;
  padding-top: 0;
}
.commentList .commentText.rejected-demand .comment-header {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.commentList .commentText.rejected-demand .comment-header .material-icons {
  color: #d32f2e;
  margin-left: -1px;
  margin-right: 7px;
  font-size: 30px;
  background-color: #f3f3f5;
  border: 5px solid #f3f3f5;
}
.commentList .commentText.rejected-demand .comment-header a.name-margin {
  margin: 0 4px;
}
.commentList .commentText.rejected-demand:after {
  border-right-color: white;
}
.commentList .commentText.rejected-demand:after, .commentList .commentText.rejected-demand:before {
  display: none;
}
.commentList .commentText.submitted-demand {
  background-color: transparent;
  border-color: transparent;
}
.commentList .commentText.submitted-demand p {
  border-color: transparent;
  padding-left: 80px;
  padding-top: 0;
}
.commentList .commentText.submitted-demand .comment-header {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.commentList .commentText.submitted-demand .comment-header .material-icons {
  color: #999;
  margin-left: -1px;
  margin-right: 7px;
  font-size: 30px;
  background-color: #f3f3f5;
  border: 5px solid #f3f3f5;
}
.commentList .commentText.submitted-demand .comment-header a.name-margin {
  margin: 0 4px;
}
.commentList .commentText.submitted-demand:after {
  border-right-color: white;
}
.commentList .commentText.submitted-demand:after, .commentList .commentText.submitted-demand:before {
  display: none;
}
.commentList .commentText.reopen-demand, .commentList .commentText.created-demand {
  background-color: transparent;
  border-color: transparent;
}
.commentList .commentText.reopen-demand p, .commentList .commentText.created-demand p {
  border-color: transparent;
  padding-left: 80px;
  padding-top: 0;
}
.commentList .commentText.reopen-demand .comment-header, .commentList .commentText.created-demand .comment-header {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.commentList .commentText.reopen-demand .comment-header .material-icons, .commentList .commentText.created-demand .comment-header .material-icons {
  color: #999;
  margin-left: -1px;
  margin-right: 7px;
  font-size: 30px;
  background-color: #f3f3f5;
  border: 5px solid #f3f3f5;
}
.commentList .commentText.reopen-demand .comment-header a.name-margin, .commentList .commentText.created-demand .comment-header a.name-margin {
  margin: 0 4px;
}
.commentList .commentText.reopen-demand:after, .commentList .commentText.created-demand:after {
  border-right-color: white;
}
.commentList .commentText.reopen-demand:after, .commentList .commentText.reopen-demand:before, .commentList .commentText.created-demand:after, .commentList .commentText.created-demand:before {
  display: none;
}
.commentList .commentText .comment-header {
  padding: 10px 15px;
  color: #586069;
  background-color: #f6f8fa;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.commentList .commentText .comment-header a {
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
}
.commentList .commentText:before {
  left: -16px;
  top: 12px;
  content: "";
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  border-width: 8px;
  border-color: transparent;
  border-style: solid solid outset;
  border-right-color: #d1d5da;
}
.commentList .commentText:after {
  left: -16px;
  top: 12px;
  content: "";
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid solid outset;
  margin-top: 1px;
  margin-left: 2px;
  border-width: 7px;
  border-right-color: #f6f8fa;
}
.commentList .commentText p {
  margin: 0 0 0.5em;
  padding: 0.5em 1em;
  clear: both;
  position: relative;
  border-top: 1px solid #d1d5da;
}
.commentList .commentText p:empty {
  display: none;
}

.comment-form {
  display: flex;
  flex-shrink: 0;
  position: relative;
  pointer-events: none;
}
.comment-form .form-group-holder {
  width: 80%;
}
.comment-form .form-group-holder .form-group {
  position: relative;
}
.comment-form .form-group-holder .form-group textarea {
  padding-right: 35px;
}
.comment-form .form-group-holder .form-group:first-child {
  z-index: 1;
}
.comment-form .form-group {
  flex-grow: 1;
  margin-bottom: 0;
  pointer-events: auto;
}
.comment-form .form-group .form-control {
  width: 100%;
  margin-right: 10px;
}
.comment-form .attachments-holder {
  position: absolute;
  width: 25%;
  right: 0;
  z-index: 2;
}
.comment-form .attachments-holder .attached-file {
  margin-top: 40px;
  pointer-events: none;
}
.comment-form .attachment-dropzone {
  position: absolute;
  border-color: transparent;
  width: 32px;
  right: 5px;
  padding: 0;
}
.comment-form .attachment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  position: absolute;
  border-color: transparent !important;
  background-color: transparent !important;
}
.comment-form .attachment-btn:hover, .comment-form .attachment-btn:active, .comment-form .attachment-btn:focus, .comment-form .attachment-btn:active:hover, .comment-form .attachment-btn:active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.comment-form .attachment-btn i {
  font-size: 20px;
}
.comment-form .btn-confirm-group {
  width: 19%;
  pointer-events: auto;
}
.comment-form .btn-confirm-group .btn-group {
  width: 100%;
  padding-left: 15px;
}
.comment-form .btn-confirm-group button[type=submit] {
  display: inline-block;
  width: 100%;
}
.comment-form .comment-attachment {
  position: relative;
  padding: 15px 15px 4px 15px;
  background-color: white;
  border: 1px solid #cccccc;
  top: -15px;
  max-height: 130px;
  overflow-y: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.comment-form .comment-attachment:empty {
  display: none;
}

.detailBox {
  margin-bottom: 15px;
}

.titleBox {
  background-color: #fdfdfd;
  padding: 10px;
}

.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  flex-grow: 0;
}

.taskDescription {
  margin-top: 10px 0;
}

.commentList {
  padding: 0;
  list-style: none;
  overflow: auto;
  position: relative;
}
.commentList .comment-header .dropdown {
  height: 14px;
}
.commentList .commentText ul.attached-file {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.commentList .commentText ul.attached-file span.label {
  position: relative;
}
.commentList .commentText ul.attached-file:before {
  content: "Attachment";
  display: block;
}
.commentList .commentText ul.attached-file:empty:before {
  display: none;
}
.commentList .commentText ul.attached-file .file-size {
  position: relative;
}

.submitted-demand.commentText ul.attached-file, .created-demand.commentText ul.attached-file {
  padding-left: 80px;
}

.commentList > li {
  margin: 0;
  margin-top: 20px;
}

.commenterImage {
  width: 30px;
  margin-right: 15px;
}
.commenterImage .user-photo {
  position: relative;
  top: 5px;
}
.commenterImage .user-photo:before {
  line-height: 32px;
  font-size: 12px;
}

.commentText p {
  margin: 0;
}

.sub-text {
  color: #aaa;
  font-size: 11px;
}

.actionBox {
  position: relative;
}
.actionBox:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 79px;
  z-index: -1;
  display: block;
  height: 100%;
  width: 2px;
  content: "";
  background-color: #e6ebf1;
}

.changes-holder {
  margin-left: 60px;
}

.changes-list li {
  color: #999;
  margin-bottom: 5px;
  margin-top: 5px;
}
.changes-list li b {
  color: #333;
  font-weight: normal;
}

.btn-group:hover, .btn-group:active, .btn-group:focus, .btn-group:active:hover, .btn-group:active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group .btn.more-dropdown.comment-dropdown {
  position: relative;
  top: -14px;
  left: 13px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border: none;
  background-color: transparent;
  color: #999;
}
.btn-group .btn.more-dropdown.comment-dropdown:after {
  font-size: 25px;
}
.btn-group .btn.more-dropdown.comment-dropdown:hover, .btn-group .btn.more-dropdown.comment-dropdown:active, .btn-group .btn.more-dropdown.comment-dropdown:focus, .btn-group .btn.more-dropdown.comment-dropdown:active:hover, .btn-group .btn.more-dropdown.comment-dropdown:active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn-group .dropdown-menu {
  top: 15px;
  left: 16px;
}
.btn-group .dropdown-menu a {
  text-transform: none !important;
  font-size: 14px !important;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group.open .dropdown-toggle:after {
  color: #1976d3 !important;
}

.message-removed {
  color: #999;
  font-style: italic;
}
.message-removed .material-icons {
  position: relative;
  top: 5px;
  margin-right: 3px;
}

.message-edited {
  position: relative;
  font-size: 20px;
  top: 4px;
  color: #999;
}

/* Date Picker */
.date-picker-popover .bg-primary, .date-picker-popover .text-primary {
  background-color: transparent;
  color: white;
  position: relative;
}
.date-picker-popover .bg-primary:before, .date-picker-popover .text-primary:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 26px;
  height: 26px;
  margin: -13px 0 0 -13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #1976d3;
  z-index: -1;
}
.date-picker-popover .text-primary {
  color: #333;
}
.date-picker-popover .text-primary:before {
  background-color: rgba(25, 118, 211, 0.2);
}

/* Modals */
.attachment-dropzone {
  padding: 15px;
  border: 1px dashed #bbb;
  color: #999;
}

.category-group {
  display: flex;
  justify-content: space-between;
}
.category-group .form-group {
  width: 47%;
}

.form-group .react-selectize.root-node {
  width: 100%;
}

.assigned-to-row {
  display: flex;
  align-items: center;
}
.assigned-to-row .form-group {
  flex-grow: 1;
}
.assigned-to-row .btn {
  margin-left: 15px;
  position: relative;
  top: 3px;
}

.delegate-btn {
  color: #999;
}

.deadline-group {
  display: flex;
  align-items: flex-end;
}
.deadline-group .form-group {
  margin-right: 15px;
}

.period-dropdown, .month-dropdown {
  width: 120px;
  height: 34px;
}
.period-dropdown .react-selectize-control, .month-dropdown .react-selectize-control {
  padding: 1px 2px !important;
}
.period-dropdown .react-selectize-control .resizable-input, .month-dropdown .react-selectize-control .resizable-input {
  padding-bottom: 0 !important;
}

.week-dropdown label {
  margin-bottom: 11px;
}

.recurring-check {
  margin-bottom: 22px;
}

.month-dropdown {
  height: auto;
}

ul.frequency-weekly {
  height: 17px;
}
ul.frequency-weekly li {
  padding: 0 3px;
}

/* Notifications */
.notifications-tr {
  top: 95px !important;
}
.notifications-tr .notification.notification-info {
  background-color: white !important;
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15) !important;
  border-top-color: transparent !important;
}
.notifications-tr .notification.notification-info h4 {
  color: #333 !important;
}
.notifications-tr .notification.notification-info .notification-message {
  color: #333;
}
.notifications-tr .notification.notification-info .notification-dismiss {
  background-color: #999 !important;
  color: white !important;
}

/* Ordered List */
ol.ordered-list {
  list-style: none;
  padding-left: 40px;
  counter-reset: numList;
}
ol.ordered-list li {
  position: relative;
  margin-bottom: 12px;
}
ol.ordered-list li:before {
  counter-increment: numList;
  content: counter(numList);
  color: gold;
  font-size: 12px;
  position: absolute;
  left: -30px;
  top: 0;
  text-align: center;
  line-height: 19px;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* Preload CSS */
.loading-holder {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.loading {
  display: inline-block;
  border: 0 solid rgba(215, 215, 215, 0.25);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 40%;
  left: 45%;
  position: absolute;
}

.loading:before {
  content: "";
  display: block;
  border: 0 solid transparent;
  border-top-color: #bebebe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: loading 1s ease infinite;
  -moz-animation: loading 1s ease infinite;
  -ms-animation: loading 1s ease infinite;
  -o-animation: loading 1s ease infinite;
  animation: loading 1s ease infinite;
}

/***************************************/
/*				 LOADING			   */
/***************************************/
.loading-16 {
  width: 12px;
  height: 12px;
  border-width: 2px;
}

.loading-16:before {
  width: 12px;
  height: 12px;
  border-width: 2px;
  margin: -2px 0 0 -2px;
}

.loading-24 {
  width: 18px;
  height: 18px;
  border-width: 3px;
}

.loading-24:before {
  width: 18px;
  height: 18px;
  border-width: 3px;
  margin: -3px 0 0 -3px;
}

.loading-32 {
  width: 26px;
  height: 26px;
  border-width: 4px;
}

.loading-32:before {
  width: 26px;
  height: 26px;
  border-width: 4px;
  margin: -4px 0 0 -4px;
}

.loading-48 {
  width: 38px;
  height: 38px;
  border-width: 5px;
}

.loading-48:before {
  width: 38px;
  height: 38px;
  border-width: 5px;
  margin: -5px 0 0 -5px;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
/* Radio Buttons */
input[type=radio] {
  display: none;
}

input[type=radio] + label {
  cursor: pointer;
  margin: 0 7px;
  font-weight: 500;
}
input[type=radio] + label:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #e7e7e7;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 0 solid #1976d3;
  position: relative;
  top: 2px;
  left: -4px;
}

input[type=radio]:checked + label {
  color: #1976d3;
}
input[type=radio]:checked + label:before {
  border-width: 5px;
}

input[type=radio] + label,
input[type=radio]:checked + label {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
input[type=radio] + label:before,
input[type=radio]:checked + label:before {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Checkbox Buttons */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  cursor: pointer;
  margin: 0 7px;
  font-weight: 500;
}
input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #e7e7e7;
  border: 0 solid #1976d3;
  position: relative;
  top: 2px;
  left: -4px;
}

input[type=checkbox]:checked + label {
  color: #1976d3;
}
input[type=checkbox]:checked + label:before {
  border-width: 5px;
}

input[type=checkbox] + label,
input[type=checkbox]:checked + label {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
input[type=checkbox] + label:before,
input[type=checkbox]:checked + label:before {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Range slider customization */
.rc-slider {
  top: -10px;
}

.rc-slider-track {
  background-color: #1976d3;
}

.rc-slider-handle {
  border-color: #1976d3;
}
.rc-slider-handle:hover {
  border-color: #1976d3;
}

.rc-slider-dot-active {
  border-color: #1976d3;
}

/* React table */
.ReactTable {
  font-size: 12px;
}
.ReactTable .user-name {
  font-size: 11px;
}
.ReactTable .multiple-ass-user {
  font-size: 11px;
}
.ReactTable .material-icons.unseen {
  color: #1976d3;
}
.ReactTable .filtered-child-demand {
  color: #ddd;
  font-size: 22px;
  transform: scaleX(-1);
}

.rt-thead.-header {
  position: relative;
  z-index: 2;
}

.ReactTable .-pagination {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid #e7e7e7;
}

.ReactTable .rt-td {
  height: 40px;
  padding: 13px 5px;
}

.ReactTable .risk-col, .ReactTable .info-col {
  text-align: center;
}

.header-icon {
  font-size: 15px;
}

.info-col-header {
  padding-bottom: 0px !important;
}

.info-col {
  color: #c5c5c5;
}

.ReactTable .rt-tbody .rt-td {
  border-right-color: transparent;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  padding: 13px 5px;
}

.title-col a {
  color: #333;
}

.rel-themes-col .react-tagsinput-tag {
  position: relative;
  top: -3px;
}

.assig-col, .created-col {
  position: relative;
  padding-left: 15px !important;
}
.assig-col .table-stripe-user, .created-col .table-stripe-user {
  height: 100%;
  width: 4px;
  position: absolute;
  left: 0;
  top: 0;
}
.assig-col .table-stripe-user.requested-by-me, .created-col .table-stripe-user.requested-by-me {
  background-color: rgba(51, 51, 51, 0.2);
}
.assig-col .table-stripe-user.assigned-to-me, .created-col .table-stripe-user.assigned-to-me {
  background-color: rgba(51, 51, 51, 0.6);
}
.assig-col .table-stripe-user.delegated, .created-col .table-stripe-user.delegated {
  background-image: repeating-linear-gradient(180deg, #aaa, #aaa 2px, rgba(51, 51, 51, 0) 2px, rgba(51, 51, 51, 0) 4px);
}
.assig-col a, .created-col a {
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.assig-col a .user-photo:before, .created-col a .user-photo:before {
  font-size: 12px;
  font-size: 85%;
}
.assig-col a:hover .user-photo.small:before, .assig-col a:focus .user-photo.small:before, .created-col a:hover .user-photo.small:before, .created-col a:focus .user-photo.small:before {
  display: inline-block;
  text-decoration: none;
}
.assig-col a .user-photo, .created-col a .user-photo {
  flex-shrink: 0;
  top: 0;
  margin-left: 5px;
}
.assig-col a .user-name, .created-col a .user-name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.created-col {
  padding-left: 15px !important;
}

.ReactTable .label:empty {
  display: inline-block;
}
[data-style=cards] .demandTableContainer {
  background-color: transparent;
}
[data-style=cards] .ReactTable .label:empty {
  display: inline-block;
}
[data-style=cards] .ReactTable .label {
  width: 20px;
  height: 20px;
  position: relative;
}
[data-style=cards] .multiple-ass-user .material-icons {
  top: 0;
}
[data-style=cards] .assig-col {
  order: 1;
}
[data-style=cards] .created-col {
  order: 1;
  padding-left: 0 !important;
}
[data-style=cards] .created-col .table-stripe-user {
  display: none;
}
[data-style=cards] .deadline-col {
  order: 2;
}
[data-style=cards] .risk-col {
  order: 0;
  margin-right: 15px;
}
[data-style=cards] .title-col {
  order: 5;
  min-width: 100%;
}
[data-style=cards] .creation-col {
  order: 7;
}
[data-style=cards] .rel-themes-col {
  order: 8;
  align-self: flex-end;
}
[data-style=cards] .category-col {
  order: 9;
  align-self: flex-end;
}
[data-style=cards] .category-col:before {
  content: "Category";
  margin-right: 10px;
}
[data-style=cards] .-pagination {
  display: none;
}
[data-style=cards] .creation-col {
  text-align: left;
  color: #333;
  margin-right: 30px;
}
[data-style=cards] .creation-col:before {
  content: "Creation date ";
  margin-right: 10px;
}
[data-style=cards] .deadline-col {
  text-align: left;
  color: #333;
}
[data-style=cards] .deadline-col:before {
  content: "Deadline ";
  margin-right: 10px;
}
[data-style=cards] .home-demands-container .elegant-card {
  background-color: transparent;
  border: 0;
}
[data-style=cards] .home-demands-container .elegant-card .card-content {
  background-color: transparent;
  padding: 0;
}
[data-style=cards] .user-info-main-col .user-details-tab .elegant-card {
  background-color: transparent;
  border: 0;
}
[data-style=cards] .user-info-main-col .user-details-tab .elegant-card .card-content {
  background-color: transparent;
  padding: 0;
}
[data-style=cards] .ReactTable {
  border: 0;
}
[data-style=cards] .ReactTable .material-icons {
  font-size: 18px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}
[data-style=cards] .ReactTable .multiple-ass-user .material-icons {
  top: 0;
}
[data-style=cards] .ReactTable .pull-left {
  margin-right: 20px;
}
[data-style=cards] .ReactTable .rt-thead {
  display: none;
}
[data-style=cards] .ReactTable .rt-tbody {
  min-width: 0 !important;
  padding-right: 10px;
}
[data-style=cards] .ReactTable .rt-tbody .rt-tr-group {
  position: relative;
  background-color: white;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  padding: 10px;
  color: #999;
}
[data-style=cards] .ReactTable .rt-tbody .rt-tr-group .rt-tr {
  display: flex;
  flex-wrap: wrap;
}
[data-style=cards] .ReactTable .rt-tbody .rt-tr-group .rt-tr:before {
  content: "";
  width: 100%;
  order: 3;
}
[data-style=cards] .ReactTable .rt-tbody .rt-tr-group .rt-tr:after {
  content: "";
  width: 100%;
  order: 6;
}
[data-style=cards] .ReactTable .rt-tbody .rt-td {
  flex-grow: 0 !important;
  flex-shrink: 1 !important;
  width: auto !important;
  max-width: none !important;
  padding: 0;
  height: auto;
  margin-bottom: 5px;
  overflow: visible;
}
[data-style=cards] .ReactTable .rt-tbody .category-pill {
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
[data-style=cards] .ReactTable .rt-tbody .title-col {
  white-space: normal;
  color: #333;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
  margin-top: 15px;
  line-height: 25px;
}
[data-style=cards] .ReactTable .rt-tbody .title-col a {
  color: #333;
}
[data-style=cards] .ReactTable .rt-tbody .risk-col {
  left: 9px;
  top: 40px;
}
[data-style=cards] .ReactTable .rt-tbody .assig-col {
  position: relative;
  left: -2px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
[data-style=cards] .ReactTable .rt-tbody .assig-col:before {
  content: "Responsible";
  margin-right: 10px;
  position: relative;
}
[data-style=cards] .ReactTable .rt-tbody .assig-col a {
  color: #333;
  display: inline-flex;
}
[data-style=cards] .ReactTable .rt-tbody .created-col {
  position: relative;
  left: -2px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
[data-style=cards] .ReactTable .rt-tbody .created-col:before {
  content: "Created by";
  margin-right: 10px;
  position: relative;
}
[data-style=cards] .ReactTable .rt-tbody .rt-tr {
  display: inline-block;
}
[data-style=cards] .ReactTable .rt-tbody .rt-tr-group:last-child {
  border: 1px solid #e7e7e7;
}
[data-style=cards] .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background-color: white;
}
[data-style=cards] .rt-td.meeting-country {
  margin-right: 35px;
}

.ReactTable .rt-tbody .rt-td .submitted-label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 5px;
}

.rt-td:empty {
  background-color: red;
}

.title-col .material-icons {
  float: left;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tabs-list {
  flex-shrink: 0;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px;
}
.tabs-list:after {
  display: block;
  content: "";
  clear: both;
}
.tabs-list button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* Remove excess padding and border in Firefox 4+ */
}
.tabs-list button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.tabs-list .tab-link {
  padding: 5px 10px;
  position: relative;
  float: left;
  cursor: pointer;
  color: #333;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
.tabs-list .tab-link:first-child {
  margin-left: -10px;
}
.tabs-list .tab-link:before {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #1976d3;
  left: 10px;
  bottom: -2px;
  pointer-events: none;
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.tabs-list .tab-link.tab-link-active {
  font-weight: 500 !important;
}
.tabs-list .tab-link.tab-link-active:before {
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.tabs-list .tab-link .badge {
  position: relative;
  top: -2px;
}

.tab-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Themes */
/* Material Theme */
.panel.panel-default {
  background-color: white;
  transition: box-shadow 0.25s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-color: transparent;
  border: 0;
}
.panel.panel-default .panel-heading {
  color: #333;
  background-color: white;
  border-color: transparent;
  border-bottom-color: #e7e7e7;
}
.panel.panel-default .panel-footer {
  background-color: white;
  border-color: transparent;
  border-top-color: #e7e7e7;
}

/*********************
  Shadows
**********************/
.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, .btn-floating, .card-panel, .card, .dropdown-content, .dropdown-menu {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable:hover {
  transition: box-shadow 0.25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*********************
  Buttons
**********************/
.btn-flat {
  background-color: transparent;
  position: relative;
  padding: 8px 30px;
  border: none;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
}

.btn-flat:focus {
  background-color: transparent;
}

.btn {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: #aa66cc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  vertical-align: middle;
  margin: 10px;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  color: white;
}

.btn-floating.btn-link i {
  color: #333;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 55.5px;
  height: 55.5px;
}

.btn-floating.btn-large i {
  line-height: 55.5px;
}

.btn-floating.btn-small {
  height: 47px;
  width: 47px;
  line-height: 0;
}

.btn-floating.btn-small .fa, .btn-floating.btn-small .material-icons {
  font-size: 18px;
  margin-top: 5px;
}

button.btn-floating {
  border: none;
}

/* Card Special */
.elegant-card {
  background-color: white;
  position: relative;
  margin: 0 0 15px 0;
  border: 1px solid #e7e7e7;
}

.card-up {
  padding: 15px;
}

.card-up h1, .card-up h2, .card-up h3, .card-up h4, .card-up h5, .card-up h6 {
  margin: 0;
  margin-top: 5px;
}

.elegant-card .btn-floating {
  margin: -2.1em 2em;
  float: right;
}

.elegant-card .btn-floating .fa {
  font-size: 14px;
}

.elegant-card .card-content {
  padding: 15px;
  color: #333;
  background-color: #fff;
}

.elegant-card .card-content h5 {
  margin-bottom: 5px;
}

.elegant-card .card-footer {
  height: 50px;
}

.elegant-card .card-footer ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

.elegant-card .card-footer ul .fa {
  margin-right: 5px;
}

.elegant-card .card-footer ul a {
  color: #fff;
}

.elegant-card .card-label {
  margin-bottom: -27px;
  margin-top: 0;
  z-index: 10;
  position: relative;
}

.elegant-card .card-label .label {
  border-radius: 0;
  font-weight: 300;
}

.elegant-card .card-details,
.elegant-card .card-details a {
  color: #333;
}

@media only screen and (max-width: 500px) {
  .elegant-card .card-up {
    max-height: 150px;
  }

  .elegant-card .card-content {
    padding: 15px;
  }
}
/* Pages */
/* Homepage */
.highcharts-text-outline {
  display: none;
}

.btn-floating {
  margin-top: -19px;
}

.highcharts-container {
  overflow: visible !important;
}

.pie-label, .label-legenda {
  font-size: 10px;
  background-color: white;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.pie-label span, .label-legenda span {
  padding: 2px 5px;
  font-family: "open_sanslight", sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
  color: #333;
}
.pie-label b, .label-legenda b {
  padding: 2px 5px;
  color: #999;
}

.highcharts-tooltip > span {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #888;
  padding: 8px;
  z-index: 3;
}

.highcharts-label.highcharts-tooltip {
  z-index: 3;
}

.legenda-holder, .legenda-holder-right {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.legenda-holder ul, .legenda-holder-right ul {
  margin-bottom: 0;
}
.legenda-holder .leg, .legenda-holder-right .leg {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 1px;
}
.legenda-holder .leg.ontime, .legenda-holder-right .leg.ontime {
  background-color: #5cb85c;
}
.legenda-holder .leg.soon, .legenda-holder-right .leg.soon {
  background-color: #ff8e01;
}
.legenda-holder .leg.expired, .legenda-holder-right .leg.expired {
  background-color: #d32f2e;
}
.legenda-holder .leg.submitted, .legenda-holder-right .leg.submitted {
  background-color: #6f86d6;
}

.legenda-holder-right {
  display: inline-block;
  right: 15px;
  left: auto;
}
.legenda-holder-right ul {
  display: inline-block;
}

.pie-label .user-photo.small {
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  margin: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

/* Dashboard */
.dashboard-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-row-title {
  flex-shrink: 1;
}

.dashboard-title {
  font-family: "open_sanslight", sans-serif;
  font-size: 16px;
  margin-top: -6px;
}

.dashboard-row {
  flex-grow: 1;
  display: flex;
}
.dashboard-row.bar-row {
  flex-grow: 1.2;
}
.dashboard-row .dashboard-col {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}
.dashboard-row .dashboard-col.top:first-child {
  flex-grow: 1;
  margin-right: 15px;
}
.dashboard-row .elegant-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.elegant-card.chart {
  height: 0;
}

.dashboard-chart-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 15px;
}
.dashboard-chart-container span {
  text-decoration: none !important;
}
.dashboard-chart-container #chart-1, .dashboard-chart-container #chart-2, .dashboard-chart-container #chart-3 {
  display: table-cell;
  position: absolute;
  top: 30px;
  left: 0;
  height: calc(100% - 60px);
  width: calc(100% - 30px);
  margin: 15px;
}

#chart-2 svg:not(:root) {
  overflow: visible;
}

.tag-chart-label {
  text-decoration: none !important;
  color: #333;
}

.highcharts-button-box:before {
  display: bloc;
  content: "take this bitch";
}

.highcharts-drillup-button tspan {
  fill: #1976d3 !important;
}

.pie-label.bar-drill {
  left: 80px;
  line-height: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.pie-label.bar-drill span {
  font-size: 10px;
}

/* Commitment Detail */
.demand-body {
  flex-grow: 1;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .demand-body {
    display: flex;
  }
}

.iterations-list {
  background-color: #e7e7e7;
  padding: 20px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  /* Small devices (tablets, 768px and up) */
}
.iterations-list .show-more-btn {
  height: 40px;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .iterations-list {
    margin: -20px 30px 0 -15px;
  }
}
.iterations-list .freezer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}
.iterations-list h6 {
  position: relative;
  margin-top: 7px;
}
.iterations-list h6:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #cccccc;
  bottom: -8px;
}
.iterations-list ol {
  flex-grow: 1;
  counter-reset: numList;
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 15px;
  position: relative;
}
.iterations-list li {
  padding: 5px 15px 10px 35px;
  margin-bottom: 15px;
  position: relative;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.iterations-list li .demand-details-deadline {
  font-size: 14px;
}
.iterations-list li:last-child:before {
  content: "Last";
}
.iterations-list li:before {
  counter-increment: numList;
  content: counter(numList);
  color: #cccccc;
  font-weight: 700;
  position: absolute;
  left: 3px;
  top: 6px;
  display: inline-block;
  text-align: center;
  line-height: 19px;
  width: 20px;
  height: 20px;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.more-dropdown {
  font-size: 0;
  padding: 0;
  height: 32px;
  width: 32px;
  position: relative;
}
.more-dropdown:after {
  content: "...";
  font-size: 18px;
  position: relative;
  top: -5px;
}
.more-dropdown .caret {
  display: none;
}

.demand-details-deadline {
  font-size: 20px;
}
.demand-details-deadline.ON_TIME {
  color: #5cb85c;
}
.demand-details-deadline.SOON_TO_EXPIRE {
  color: #ff8e01;
}
.demand-details-deadline.EXPIRED {
  color: #d32f2e;
}
.demand-details-deadline.COMPLETED {
  color: #666;
}

.comment-button-holder {
  position: relative;
  margin-left: 15px;
}

.demand-details-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.demand-details-holder .btn[type=submit] {
  height: 32px;
}
.demand-details-holder .demand-details-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.demand-details-holder .card-up {
  padding-bottom: 0;
}
.demand-details-holder .card-content {
  padding-top: 0;
}
.demand-details-holder .category-pill {
  display: inline-block;
}

.demand-details-subtitle {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.demand-details-second-line {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .demand-details-second-line {
    flex-direction: row;
  }
}
.demand-details-second-line .demand-details-subtitle-item {
  display: flex;
  align-items: flex-start;
  height: auto;
  margin: 15px 0;
  margin-right: 30px;
  flex-direction: column;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .demand-details-second-line .demand-details-subtitle-item {
    height: 32px;
    align-items: center;
    flex-direction: row;
  }
}

.demand-details-subtitle-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  height: 32px;
}
.demand-details-subtitle-item .small-title, .demand-details-subtitle-item .display-as-text, .demand-details-subtitle-item .commentList .commentText ul.attached-file:before, .commentList .commentText .demand-details-subtitle-item ul.attached-file:before, .demand-details-subtitle-item .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .demand-details-subtitle-item .rt-th, .demand-details-subtitle-item .ReactTable .rt-thead .rt-td, .ReactTable .rt-thead .demand-details-subtitle-item .rt-td, .demand-details-subtitle-item [data-style=cards] .category-col:before, [data-style=cards] .demand-details-subtitle-item .category-col:before, .demand-details-subtitle-item [data-style=cards] .creation-col:before, [data-style=cards] .demand-details-subtitle-item .creation-col:before, .demand-details-subtitle-item [data-style=cards] .deadline-col:before, [data-style=cards] .demand-details-subtitle-item .deadline-col:before, .demand-details-subtitle-item [data-style=cards] .ReactTable .rt-tbody .assig-col:before, [data-style=cards] .ReactTable .rt-tbody .demand-details-subtitle-item .assig-col:before, .demand-details-subtitle-item [data-style=cards] .ReactTable .rt-tbody .created-col:before, [data-style=cards] .ReactTable .rt-tbody .demand-details-subtitle-item .created-col:before {
  margin-right: 10px;
}
.demand-details-subtitle-item a {
  display: flex;
  align-items: center;
  color: #333;
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
}
.demand-details-subtitle-item a .user-photo {
  top: 0;
  flex-shrink: 0;
}
.demand-details-subtitle-item p {
  margin-bottom: 0;
}
.demand-details-subtitle-item.right {
  margin-left: auto;
  margin-right: 0;
}
.demand-details-subtitle-item .multiple-ass-user {
  top: 2px !important;
}
.demand-details-subtitle-item .multiple-ass-user .material-icons {
  top: 0 !important;
}

.demand-details-toolbar {
  margin-bottom: 30px;
}
.demand-details-toolbar .more-dropdown-delete a {
  color: #d32f2e;
}
.demand-details-toolbar .more-dropdown-delete a:hover, .demand-details-toolbar .more-dropdown-delete a:active, .demand-details-toolbar .more-dropdown-delete a:focus, .demand-details-toolbar .more-dropdown-delete a:active:hover, .demand-details-toolbar .more-dropdown-delete a:active:focus {
  color: #d32f2e;
  outline: 0;
}

.demand-details-title h2 {
  margin-top: 0;
  border-bottom: 1px solid #e7e7e7;
}
.demand-details-title h2 .title-text {
  display: block;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 23px;
}
.demand-details-title h2 .title-text .to-be-approved {
  display: inline-block;
  position: relative;
  top: -4px;
}
.demand-details-title h2 .title-text .to-be-approved {
  margin-left: 0;
}
.demand-details-title h2 .title-description {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  color: #333;
}

#detail-tabs.demand-details-tabs .tab-content {
  margin-top: 15px;
}
#detail-tabs.demand-details-tabs .tab-content .tab-pane.active {
  flex-direction: row;
}
#detail-tabs.demand-details-tabs .detailBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#detail-tabs.demand-details-tabs .detailBox .titleBox {
  flex-shrink: 0;
}
#detail-tabs.demand-details-tabs .detailBox .actionBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#detail-tabs.demand-details-tabs .detailBox .actionBox .commentList {
  flex-grow: 1;
  overflow-y: auto;
}
#detail-tabs.demand-details-tabs .detailBox .actionBox .commentList .more-dropdown-delete a {
  color: #d32f2e;
}

.demand-info {
  flex-shrink: 0;
  background-color: white;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 20px;
}
.demand-info .label {
  margin-right: 0;
  display: flex;
  flex-shrink: 0;
  padding: 5px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  white-space: normal;
  font-family: "open_sanslight", sans-serif;
}

.demand-details-card {
  margin-right: 15px;
  flex-shrink: 0;
  flex-grow: 1;
  width: 40%;
}
.demand-details-card .card-up {
  flex-shrink: 0;
}

.demand-details-list {
  padding-left: 100px;
  position: relative;
  margin: 6px 60px 6px 0;
  color: #333;
}
.demand-details-list .category-pill {
  color: #999;
}

.demand-details-list-title {
  position: absolute;
  left: 0px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #999;
}

.category-pill {
  color: #999;
}

.demand-details-risk {
  width: 150px;
}

.demand-details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0;
  color: #999;
}
.demand-details a {
  color: #333;
}
.demand-details .material-icons {
  font-size: 18px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.file-size {
  color: #999;
  font-size: 10px;
}

.submitted-link .label {
  margin-right: 5px;
}
.submitted-link a {
  color: #333;
  margin-right: 5px;
}

a.parent-link {
  text-transform: none;
  color: #999;
  position: relative;
}
a.parent-link.source {
  top: -1px;
}
a.parent-link:hover, a.parent-link:active, a.parent-link:focus, a.parent-link:active:hover, a.parent-link:active:focus {
  text-decoration: none;
}
a.parent-link:hover:before, a.parent-link:active:before, a.parent-link:focus:before, a.parent-link:active:hover:before, a.parent-link:active:focus:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #999;
  bottom: -2px;
}
a.parent-link .material-icons {
  font-size: 18px;
}

#visible-assignees-dropdown.dropdown-toggle {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border: none;
}
#visible-assignees-dropdown.dropdown-toggle i.material-icons {
  color: #333;
}
#visible-assignees-dropdown.dropdown-toggle .caret {
  position: relative;
  top: -8px;
  color: #333;
}

/* Follow up - Home */
.main-btns {
  position: relative;
}

.noTrustedContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-list h3, .chart h3 {
  margin-top: 5px;
}
.user-list .table a, .chart .table a {
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
}
.user-list .table > thead > tr > th, .chart .table > thead > tr > th {
  border-bottom: 0;
}

.chart {
  position: relative;
  height: 290px;
}
.chart .highcharts-total {
  top: 107px !important;
  left: calc(50% - 35px) !important;
  z-index: 1;
}
.chart .chart-holder {
  position: relative;
  top: -15px;
}
.chart .chart-holder .no-data {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart .total {
  font-family: "open_sanslight", sans-serif;
  font-size: 22px;
  line-height: 66px;
  width: 60px;
  height: 60px;
  background-color: #f9f9f9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  position: absolute;
}
.chart .total .small-title, .chart .total .display-as-text, .chart .total .commentList .commentText ul.attached-file:before, .commentList .commentText .chart .total ul.attached-file:before, .chart .total .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .chart .total .rt-th, .chart .total .ReactTable .rt-thead .rt-td, .ReactTable .rt-thead .chart .total .rt-td, .chart .total [data-style=cards] .category-col:before, [data-style=cards] .chart .total .category-col:before, .chart .total [data-style=cards] .creation-col:before, [data-style=cards] .chart .total .creation-col:before, .chart .total [data-style=cards] .deadline-col:before, [data-style=cards] .chart .total .deadline-col:before, .chart .total [data-style=cards] .ReactTable .rt-tbody .assig-col:before, [data-style=cards] .ReactTable .rt-tbody .chart .total .assig-col:before, .chart .total [data-style=cards] .ReactTable .rt-tbody .created-col:before, [data-style=cards] .ReactTable .rt-tbody .chart .total .created-col:before {
  display: block;
  position: absolute;
  top: -16px;
  width: 60px;
  text-align: center;
  font-size: 8px;
}

.home-filter-container .form-group, .search-form-container .form-group, .meeting-form-container .form-group {
  flex-shrink: 0;
  flex-grow: 1;
}
.home-filter-container .react-selectize.root-node, .search-form-container .react-selectize.root-node, .meeting-form-container .react-selectize.root-node {
  position: relative;
  width: auto;
}
.home-filter-container .react-selectize.dropdown-menu.default .option-wrapper.highlight, .search-form-container .react-selectize.dropdown-menu.default .option-wrapper.highlight, .meeting-form-container .react-selectize.dropdown-menu.default .option-wrapper.highlight {
  background: rgba(221, 221, 221, 0.3);
}
.home-filter-container .react-selectize.default.root-node .react-selectize-control, .search-form-container .react-selectize.default.root-node .react-selectize-control, .meeting-form-container .react-selectize.default.root-node .react-selectize-control {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border: none;
}
.home-filter-container .simple-select.react-selectize.default.root-node.open .react-selectize-control, .search-form-container .simple-select.react-selectize.default.root-node.open .react-selectize-control, .meeting-form-container .simple-select.react-selectize.default.root-node.open .react-selectize-control {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.home-filter-container .simple-select.react-selectize.default.root-node:not(.open) .react-selectize-control, .search-form-container .simple-select.react-selectize.default.root-node:not(.open) .react-selectize-control, .meeting-form-container .simple-select.react-selectize.default.root-node:not(.open) .react-selectize-control {
  background-image: none;
}
.main-btns {
  margin-bottom: 20px;
}

.user-list {
  position: relative;
  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
.user-list .table-responsive {
  table-layout: fixed;
}
.user-list .table-responsive thead:first-child > tr:first-child > th:nth-child(2), .user-list .table-responsive thead:first-child > tr:first-child > th:last-child {
  height: auto;
  width: 52px;
}
.user-list .table-responsive tbody > tr > td:nth-child(2) {
  padding-right: 0;
  text-align: center;
  padding-left: 0;
  width: 35px;
}
.user-list .table-responsive tbody > tr > td:nth-child(2) span {
  position: relative;
  top: 6px;
}
.user-list .table-responsive tbody > tr > td:last-child {
  padding-right: 0;
  text-align: right;
  padding-left: 0;
  width: 35px;
}
.user-list .table-responsive tbody > tr > td:last-child span {
  position: relative;
  top: 6px;
}
.user-list .table-responsive .user-col-title-ontime, .user-list .table-responsive .user-col-title-exp {
  width: 52px;
  text-align: right;
  padding-right: 0;
}
.user-list .badge {
  display: inline-block;
  position: relative;
  top: 9px;
  width: 24px;
  height: 24px;
  line-height: 22px;
  border-radius: 50%;
  font-family: "open_sanslight", sans-serif;
  background-color: #5cb85c;
  padding: 0;
  cursor: pointer;
}
.user-list .badge.green {
  background-color: #5cb85c;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5cb85c+0,6edd6e+100 */
  background: #5cb85c;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #5cb85c 0%, #6edd6e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #5cb85c 0%, #6edd6e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #5cb85c 0%, #6edd6e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5cb85c", endColorstr="#6edd6e", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.user-list .badge.red {
  background-color: #d32f2e;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d32f2e+0,ed6d6d+100 */
  background: #d32f2e;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #d32f2e 0%, #ed6d6d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #d32f2e 0%, #ed6d6d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #d32f2e 0%, #ed6d6d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d32f2e", endColorstr="#ed6d6d", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.user-list .badge.yellow {
  background-color: #ff8e01;
  background: #ff8e01;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ff8e01 0%, #ffbd6d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff8e01 0%, #ffbd6d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff8e01 0%, #ffbd6d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8e01", endColorstr="#ffbd6d", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.user-list .badge.default {
  background-color: #777;
}
.user-list .small-title, .user-list .display-as-text, .user-list .commentList .commentText ul.attached-file:before, .commentList .commentText .user-list ul.attached-file:before, .user-list .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .user-list .rt-th, .user-list .ReactTable .rt-thead .rt-td, .ReactTable .rt-thead .user-list .rt-td, .user-list [data-style=cards] .category-col:before, [data-style=cards] .user-list .category-col:before, .user-list [data-style=cards] .creation-col:before, [data-style=cards] .user-list .creation-col:before, .user-list [data-style=cards] .deadline-col:before, [data-style=cards] .user-list .deadline-col:before, .user-list [data-style=cards] .ReactTable .rt-tbody .assig-col:before, [data-style=cards] .ReactTable .rt-tbody .user-list .assig-col:before, .user-list [data-style=cards] .ReactTable .rt-tbody .created-col:before, [data-style=cards] .ReactTable .rt-tbody .user-list .created-col:before {
  border: 0;
}
.user-list .name-col {
  padding: 8px 8px 0 0;
}
.user-list .name-col a {
  position: relative;
  white-space: nowrap;
  top: -3px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 42px;
  display: inline-flex;
  align-items: center;
}
.user-list .name-col a .user-photo {
  top: 0;
  flex-shrink: 0;
}
.user-list .name-col a .user-photo img {
  position: absolute;
  left: -6px;
  top: -1px;
}
.user-list .name-col a .user-name {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.meeting-agenda-add-holder {
  background-color: gold;
  margin-right: -15px;
  margin-left: -15px;
  padding: 15px;
}
.meeting-agenda-add-holder .list-of-agenda-items .form-group {
  width: 100%;
  margin-bottom: 0;
  margin-right: 15px;
}
.meeting-agenda-add-holder .list-of-agenda-items .form-group label {
  display: none;
}
.meeting-agenda-add-holder .list-of-agenda-items li {
  display: flex;
  align-items: center;
  margin: 15px;
}

.btn.drawer-toggle {
  position: absolute;
  right: 0;
  top: 95px;
  z-index: 1;
  border-color: transparent;
  background-color: transparent;
  visibility: hidden;
}
.btn.drawer-toggle i {
  color: #999;
}
.btn.drawer-toggle:hover, .btn.drawer-toggle:active, .btn.drawer-toggle:focus, .btn.drawer-toggle:active:hover, .btn.drawer-toggle:active:focus {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 992px) {
  .btn.drawer-toggle {
    visibility: visible;
  }
}

.drawer-open {
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 992px) {
  .drawer-open .home-col-left {
    width: 100%;
  }
  .drawer-open .home-col-right {
    position: absolute;
    left: 100%;
  }
}

/* Login Page */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
[data-section=login] .navbar.navbar-default {
  display: none;
}

.extra {
  margin-top: 15px;
}

.login-main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.login-form-holder {
  width: 300px;
  position: relative;
  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 992px) {
  .login-form-holder {
    left: 300px;
  }
}
.login-form-holder h1 {
  font-size: 41px;
  font-family: "open_sanslight", sans-serif;
  margin-bottom: 20px;
}
.login-form-holder h4 {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}
.login-form-holder .form-group input {
  width: 100%;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 45px;
}
.login-form-holder button {
  width: 100%;
  height: 45px;
}
.login-form-holder button:hover, .login-form-holder button:active, .login-form-holder button:focus, .login-form-holder button:active:hover, .login-form-holder button:active:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.login-form-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: #d32f2e;
}

.fao-logo-login {
  height: 59px;
  width: 300px;
  background-image: url(./img/fao-logo-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  /* Large devices (large desktops, 1200px and up) */
}
.login-main-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .login-main-container {
    overflow: hidden;
  }
}
.login-main-container .credits {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .login-main-container .credits {
    right: 0;
    font-size: 14px;
    color: #555;
    margin-right: 25px;
  }
}
.login-main-container .big-logo {
  position: absolute;
  height: 1124px;
  width: 1124px;
  background-image: url(./img/big-logo.png);
  display: none;
  opacity: 0;
  left: -562px;
  z-index: -1;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 768px) {
  .login-main-container .big-logo {
    opacity: 0.15;
    display: block;
  }
}
@media (min-width: 992px) {
  .login-main-container .big-logo {
    opacity: 0.25;
  }
}

.multiple-ass-user {
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.multiple-ass-user .material-icons {
  margin: 0 5px;
  float: left;
  position: relative;
  top: -2px;
}

.multiple-detail-box {
  background-color: white;
}

.demand-details-title .multiple-ass-user {
  position: relative;
  top: 4px;
}
.demand-details-title .multiple-ass-user .material-icons {
  top: -4px;
}

/* Search Page */
.search-main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.search-main-container .btn-export {
  top: -45px;
}

.search-tabs-holder {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.search-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.search-main .title-col {
  padding: 20px 15px;
}

.search-form-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-bottom: 15px;
}
.search-form-container .second-line-filters {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
@media (min-width: 992px) {
  .search-form-container .second-line-filters {
    flex-direction: row;
  }
}
.search-form-container .second-line-filters .filters {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (min-width: 992px) {
  .search-form-container .second-line-filters .filters {
    flex-direction: row;
  }
}
.search-form-container .second-line-filters .filters .form-group {
  min-width: 145px;
}
.search-form-container .second-line-filters .timeframe {
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
  align-items: center;
}
.search-form-container form {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 992px) {
  .search-form-container form {
    align-items: stretch;
    flex-direction: column;
  }
  .search-form-container form .form-group {
    margin: 0 5px;
  }
}
.search-form-container .form-group {
  padding-right: 0;
  flex-grow: 1;
}
.search-form-container .form-group .react-selectize {
  width: 100%;
}

#detail-tabs .tab-content .tab-pane.active {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.data-picker-from, .data-picker-to {
  flex-basis: 80px;
}

.data-picker-from {
  margin-right: 25px !important;
  margin-bottom: 0 !important;
}

.data-picker-to {
  margin-bottom: 0 !important;
}
.data-picker-to .date-picker-popover {
  left: -100px !important;
}

/* Setting Page DGMS */
.setting-page {
  height: calc(100% - 50px);
}
.setting-page .user-info-main-row {
  height: 100%;
  display: block;
}
.setting-page .user-info-main-row .user-info-main-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.material-icons.back {
  position: absolute;
  left: 0;
  top: 4px;
}

.back-to-draft {
  padding-left: 23px;
  flex-shrink: 0;
}

.settings-row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.settings-row .setting-half-col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.user-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.user-list .ReactTable {
  margin-bottom: 15px;
  background-color: white;
}
.user-list .ReactTable .rt-td {
  height: 60px;
  padding: 23px 5px;
}
.user-list .ReactTable .rt-td [type=button] {
  position: relative;
  top: -10px;
}

.trusted-filter {
  margin-bottom: 15px;
}
.trusted-filter .form-inline {
  display: flex;
}
.trusted-filter .form-inline .form-group:first-child {
  flex-grow: 1;
}
.trusted-filter .form-inline .form-group.pull-right {
  margin-left: 15px;
}

/* User page */
.user-info-main-row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.user-info-text {
  margin-bottom: 20px;
}

.user-info-text-item {
  margin-bottom: 5px;
}
.user-info-text-item .small-title, .user-info-text-item .display-as-text, .user-info-text-item .commentList .commentText ul.attached-file:before, .commentList .commentText .user-info-text-item ul.attached-file:before, .user-info-text-item .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .user-info-text-item .rt-th, .user-info-text-item .ReactTable .rt-thead .rt-td, .ReactTable .rt-thead .user-info-text-item .rt-td, .user-info-text-item [data-style=cards] .category-col:before, [data-style=cards] .user-info-text-item .category-col:before, .user-info-text-item [data-style=cards] .creation-col:before, [data-style=cards] .user-info-text-item .creation-col:before, .user-info-text-item [data-style=cards] .deadline-col:before, [data-style=cards] .user-info-text-item .deadline-col:before, .user-info-text-item [data-style=cards] .ReactTable .rt-tbody .assig-col:before, [data-style=cards] .ReactTable .rt-tbody .user-info-text-item .assig-col:before, .user-info-text-item [data-style=cards] .ReactTable .rt-tbody .created-col:before, [data-style=cards] .ReactTable .rt-tbody .user-info-text-item .created-col:before {
  margin-right: 10px;
}

.user-info-main-col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.user-info {
  flex-shrink: 0;
  display: flex;
}

.user-details-tab {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.user-details-tab .tab-content .tab-pane.active {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.user-details-tab .tab-content .tab-pane.active .card-up {
  flex-shrink: 0;
}
.user-details-tab .tab-content .tab-pane.active .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.user-details-tab .tab-content .tab-pane.active .card-content .elegant-card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.user-details-tab .tab-content .tab-pane.active .card-content .elegant-card .card-content {
  flex-grow: 1;
}

/* Devices */
/* Media */
/* Printable */
@media print {
  body {
    overflow: visible !important;
    height: auto;
  }

  @page {
    size: A4 portrait;
  }
  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  .rt-tr-group {
    page-break-inside: avoid;
  }

  a[href]:after {
    content: none !important;
  }

  /* Hidden elements */
  .main-section-title, .home-col-right, .main-btns, .ReactTabs__TabList, .home-filter-container, .btn-export, .drawer-toggle, .-pagination, .more-dropdown, .parent-link {
    display: none !important;
  }

  /* Labels */
  /* Demand Page */
  .demand-info {
    padding-left: 15px;
  }

  .demand-details-holder .commentText {
    max-width: 400px;
  }
  .demand-details-holder .commentList .commentText.reopen-demand .comment-header .material-icons, .demand-details-holder .commentList .commentText.created-demand .comment-header .material-icons {
    border-color: transparent;
  }
  .demand-details-holder .commentList .commentText.submitted-demand .comment-header .material-icons {
    border-color: transparent;
  }
  .demand-details-holder .material-icons {
    border-color: transparent !important;
  }
  .demand-details-holder .comment-form {
    display: none !important;
  }
  .demand-details-holder .demand-details-toolbar {
    display: none !important;
  }

  /* Table card Version */
  .demandTableContainer {
    background-color: transparent;
  }

  .ReactTable .label:empty {
    display: inline-block;
  }
  .ReactTable .label {
    width: 20px;
    height: 20px;
    position: relative;
  }

  .assig-col {
    order: 1;
  }

  .created-col {
    order: 1;
    padding-left: 0 !important;
  }
  .created-col .table-stripe-user {
    display: none;
  }

  .deadline-col {
    order: 2;
  }

  .risk-col {
    order: 0;
    margin-right: 15px;
  }

  .title-col {
    order: 5;
    min-width: 100%;
  }

  .creation-col {
    order: 7;
  }

  .rel-themes-col {
    order: 8;
    align-self: flex-end;
  }

  .category-col {
    order: 9;
    align-self: flex-end;
  }
  .category-col:before {
    content: "Category";
    margin-right: 10px;
  }

  .-pagination {
    display: none;
  }

  .creation-col {
    text-align: left;
    color: #333;
    margin-right: 30px;
  }
  .creation-col:before {
    content: "Creation date ";
    margin-right: 10px;
  }

  .deadline-col {
    text-align: left;
    color: #333;
  }
  .deadline-col:before {
    content: "Deadline ";
    margin-right: 10px;
  }

  .home-demands-container .elegant-card {
    background-color: transparent;
    border: 0;
  }
  .home-demands-container .elegant-card .card-content {
    background-color: transparent;
    padding: 0;
  }

  .user-info-main-col .user-details-tab .elegant-card {
    background-color: transparent;
    border: 0;
  }
  .user-info-main-col .user-details-tab .elegant-card .card-content {
    background-color: transparent;
    padding: 0;
  }

  .ReactTable {
    border: 0;
  }
  .ReactTable .material-icons {
    font-size: 18px;
    position: relative;
    top: 4px;
    margin-right: 10px;
  }
  .ReactTable .multiple-ass-user .material-icons {
    top: 0;
  }
  .ReactTable .pull-left {
    margin-right: 20px;
  }
  .ReactTable .rt-thead {
    display: none;
  }
  .ReactTable .rt-tbody {
    min-width: 0 !important;
    padding-right: 10px;
  }
  .ReactTable .rt-tbody .rt-tr-group {
    position: relative;
    background-color: white;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    padding: 10px;
    color: #999;
  }
  .ReactTable .rt-tbody .rt-tr-group .rt-tr {
    display: flex;
    flex-wrap: wrap;
  }
  .ReactTable .rt-tbody .rt-tr-group .rt-tr:before {
    content: "";
    width: 100%;
    order: 3;
  }
  .ReactTable .rt-tbody .rt-tr-group .rt-tr:after {
    content: "";
    width: 100%;
    order: 6;
  }
  .ReactTable .rt-tbody .rt-td {
    flex-grow: 0 !important;
    flex-shrink: 1 !important;
    width: auto !important;
    max-width: none !important;
    padding: 0;
    height: auto;
    margin-bottom: 5px;
    overflow: visible;
  }
  .ReactTable .rt-tbody .category-pill {
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  .ReactTable .rt-tbody .title-col {
    white-space: normal;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    margin-top: 15px;
    line-height: 25px;
  }
  .ReactTable .rt-tbody .title-col a {
    color: #333;
  }
  .ReactTable .rt-tbody .risk-col {
    left: 9px;
    top: 40px;
  }
  .ReactTable .rt-tbody .assig-col {
    position: relative;
    left: -2px;
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
  .ReactTable .rt-tbody .assig-col:before {
    content: "Responsible";
    position: relative;
  }
  .ReactTable .rt-tbody .assig-col a {
    color: #333;
    display: inline-flex;
  }
  .ReactTable .rt-tbody .created-col {
    position: relative;
    left: -2px;
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
  .ReactTable .rt-tbody .created-col:before {
    content: "Created by";
    margin-right: 10px;
    position: relative;
  }
  .ReactTable .rt-tbody .rt-tr {
    display: inline-block;
  }

  .ReactTable .rt-tbody .rt-tr-group:last-child {
    border: 1px solid #e7e7e7;
  }

  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background-color: white;
  }

  .rt-td.meeting-country {
    margin-right: 35px;
  }
}

/*# sourceMappingURL=index.css.map */
