/* Ipad */

[data-tablet="iPad"] {


  // Home Override

  .home-container {
    display: block;
    height: calc(100% - 50px);
  }


  .home-col-left {
    display: block;
    position: relative;
    height: 100%;


    .ReactTabs.react-tabs {
      display: block;
      height: calc(100% - 101px); //This the left column height minus the main-section-title and the main-btns


      .ReactTabs__TabPanel {
        height: calc(100% - 45px); // This is the tab panel height minus the tabs

      }

      .home-demands-container {
        display: block;
        height: calc(100% - 66px);

        .demandTableContainer {
          display: block;
          height: calc(100% - 15px);

        }

      }

    }

  }

  /* iPad portait */
  @media (orientation: portrait) {


    .home-row-main {
      height: 50%;
    }

    .home-col-left {

      .ReactTabs.react-tabs {
        height: 400px;


        .ReactTabs__TabPanel {
          height: 200px;

        }

        .home-demands-container {
          height: 200px;

          .demandTableContainer {
            height: 200px;

          }

        }

      }

    }

    .home-col-right {
      margin-top: 90px;
    }

  }

  /* iPad landscape */
  @media (orientation: landscape) {

    .home-row-main {
      height: 100%;
    }


  }

  // User detail override

  .user-info-main-row {
    height: 100%;

  }

  .user-info-main-col {
    display: block;
    position: relative;
    height: 100%;

    .ReactTabs.react-tabs {
      display: block;
      height: calc(100% - 251px);

      .ReactTabs__TabPanel {
        height: calc(100% - 45px); // This is the tab panel height minus the tabs

      }

      .home-demands-container {
        display: block;
        height: calc(100% - 80px);

        .demandTableContainer {
          display: block;
          height: calc(100% - 15px);

        }

      }


    }


  }


  // Demand Detail override

  .demand-details-tabs {
    margin-bottom: 15px;
  }


  .ReactTable {
    height: 100%;
  }

  .detailBox {
    margin-bottom: 0;
  }


  // Search page

  .search-main-container {
    height: 100%;


    .ReactTabs.react-tabs {


      height: calc(100% - 50px); // In this particular page seems to be related to the height of the navbar

      .ReactTabs__TabPanel {
        height: calc(100% - 45px);


        .ReactTabs__Tab {
          display: block;
          height: 100%;

          .demandTableContainer {
            display: block;
            height: calc(100% - 146px);


          }

        }

      }


    }


  }

  .search-main {

    display: block;
    height: 100%;


    .demandTableContainer {


    }

  }

  .comment-form .form-group.pull-right .attachment-btn i {
    position: relative;
    left: -5px;
  }


}